mixin c-inputs(data)
	.c-inputs
		.l-container
			.c-inputs__form
				form(action="/")
					.row
						.c-inputs__search
							.c-inputs__search-inner.form-action
								input#c-inputs__surname(type="text", name="surname", placeholder='Поиск по фамилии', autocomplete="off")
								+svg('icon-search')
						.c-inputs__select.c-inputs__date
							select#mounth(name="date")
								option(value="1") Сентябрь 2019
								option(value="2") Август 2019
								option(value="3") Июль 2019
								option(value="4") Май 2019
								option(value="5") Апрель 2019
								option(value="6") Март 2019
								option(value="7") Октябрь 2019
						.c-inputs__select.c-inputs__percent
							select#percent(name="percent")
								option(value="18") 18%
								option(value="15") 15%
								option(value="12") 12%
								option(value="9") 9%
						.c-inputs__button
							button(type="submit") 
								span Поиск
					.row
						.c-inputs__select.c-inputs__region
							select#region(name="region")
								option(value="hide") Регион
								option(value="10") Россия — Центр
								option(value="11") Россия — Поволжье
								option(value="12") Россия — Северо-Запад
								option(value="13") Россия — Южный
								option(value="14") Россия — Урал
								option(value="15") Россия — Сибирь и Дальний Восток
								option(value="16") Казахстан