.c-inputs {
	@media (max-width: 767px) {
		margin-left: 14px;
		margin-right: 14px;
	}
	.row {
		display: flex;
		@media (max-width: 1279px) {
			width: 500px;
			flex-wrap: wrap;
			margin: 0 auto;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
	&__search {
		width: 313px;
		height: 51px;
		border: 2px solid #FFFFFF;
		border-radius: 5px;
		@media (max-width: 1279px) {
			width: 100%;
			margin-bottom: 0;
		}
		@media (max-width: 767px) {
			width: 100%;
			display: block;
			margin-bottom: 0;
		}
		&-inner {
			position: relative;
			height: 100%;
			.icon {
				color: white;
				font-size: 24px;
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	.form-action {
		input {
			width: 100%;
			height: 100%;
			background-color: transparent;
			border: none;
			padding: 13px 50px 13px 17px;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 125%;
			color: #FFFFFF;
			outline: 0 !important;
			&::placeholder {
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 125%;
				color: #FFFFFF;
			}
			:active, :hover, :focus {
				outline: 0 !important;
				outline-offset: 0;
		}
		}
	}
	&__select {
		.select-hidden {
			display: none;
			visibility: hidden;
			padding-right: 10px;
		}
		.select {
			cursor: pointer;
			display: inline-block;
			position: relative;
			font-size: 16px;
			color: #fff;
			width: 100%;
			height: 52px;
		}
		.select-styled {
			position: absolute; 
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: transparent;
			padding: 8px 15px;
			transition: all 0.2s ease-in;
			border: 2px solid #FFFFFF;
			border-radius: 5px;
			display: flex;
			align-items: center;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 125%;
			color: #FFFFFF;
			@media (max-width: 767px) {
				font-size: 14px;
			}
			&:after {
				content:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMS41MTQxNkw4Ljk5OTY5IDkuNjkyNjlMMTYuOTk5NCAxLjUxNDE2IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K);
				width: 18px;
				height: 12px;
				position: absolute;
				top: 50%;
				right: 17px;
				transform: translateY(-50%);
				display: inline-table;
			}
			&:active, &.active {
				&:after {
					content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxOCAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMS41MTQxNkw4Ljk5OTY5IDkuNjkyNjlMMTYuOTk5NCAxLjUxNDE2IiBzdHJva2U9IiMyQUEwRDIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=);
				}
			}
		}
		
		.select-options {
			z-index: 999999;
			position: relative;
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: #fff;
			transition: all 0.3s ease;
			max-height: 272px;
			overflow: hidden;
			overflow-y: scroll;
			li {
				margin: 0;
				padding: 10px 0;
				padding-left: 20px;
				transition: all 0.3s ease-in;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 125%;
				color: #000000;
				&:hover {
					color: #9933FF;
				}
				&[rel="hide"] {
					display: none;
				}
			}
			&::-webkit-scrollbar-track
				{
					-webkit-box-shadow: none;
					background-color: transparent;
				}

				&::-webkit-scrollbar
				{
					width: 6px;
					background-color: transparent;
				}

				&::-webkit-scrollbar-thumb
				{
					border-radius: 100px;
					width: 6px;
					-webkit-box-shadow: none;
					background-color: #B7C7FF;
				}
				&-wrapper {
					display: none; 
					position: absolute;
					top: 93%;
					right: 0;
					left: 0;
					z-index: 999;
					margin: 0;
					padding: 0;
					list-style: none;
					background-color: #fff;
					transition: all 0.3s ease;
					height: auto;
					padding-right: 11px;
					padding-top: 15px;
					padding-bottom: 15px;
				}
		}
	}
	&__date {
		width: 168px;
		margin-left: 15px;
		@media (max-width: 1279px) {
			width: 47%;
			margin-right: 15px;
			margin-left: 0;
			margin-top: 15px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-top: 15px;
			.select-styled {
				padding-right: 20px;
		}
		}
	}
	&__percent {
		width: 91px;
		margin-left: 15px;
		@media (max-width: 1279px) {
			width: 47%;
			margin-left: 0;
			margin-right: 0;
			margin-top: 15px;
			.select-styled {
				padding-right: 3px;
				padding-left: 10px;
		}
		.select-styled:after {
			right: 7px;
		}
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			.select-styled {
				padding-left: 10px;
		}
		.select-styled:after {
			right: 10px;
		}
		}
	}
	&__button {
		margin-left: 30px;
		
		@media (max-width: 1279px) {
			width: 50%;
			margin-top: 15px;
			margin-left: 15px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-top: 15px;
			margin-left: 0;
		}
		button {
			
			width: 226px;
			height: 51px;
			line-height: 51px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: #833ACE;
			border-radius: 5px;
			transition: all 0.3s ease;
			position: relative;
			span {
				position: relative;
				z-index: 50;
				font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 125%;
			text-align: center;
			color: #FFFFFF;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
				opacity: 0;
				visibility: hidden;
				border-radius: 5px;
				transition: all 0.5s ease;
			}
			&:hover {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
			@media (max-width: 1279px) {
				width: 100%;
			}
			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
	&__region {
		width: 286px;
		margin-left: 15px;
		@media (max-width: 1279px) {
			width: 50%;
			margin-top: 15px;
			margin-left: 0;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-left: 0;
			margin-top: 15px;
		}
	}
}