@mixin font-face ($fontname, $fontfile, $fontweight: normal, $fontstyle: normal) {
	@font-face {
		font-family: $fontname;
		src: url('../fonts/' + $fontfile + '.eot');
		src: url('../fonts/' + $fontfile + '.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/' + $fontfile + '.woff') format('woff'),
			 url('../fonts/' + $fontfile + '.ttf') format('truetype'),
			 url('../fonts/' + $fontfile + '.svg##{fontname}') format('svg');
		font-weight: $fontweight;
		font-style: $fontstyle;
	}
};


@include font-face('SourceSansPro', 'source-sans-pro/SourceSansPro-Light', 300, normal);
@include font-face('SourceSansPro', 'source-sans-pro/SourceSansPro-Regular', 400, normal);
@include font-face('SourceSansPro', 'source-sans-pro/SourceSansPro-SemiBold', 600, normal);
@include font-face('SourceSansPro', 'source-sans-pro/SourceSansPro-Bold', 700, normal);

@include font-face('RobotoCondensed', 'roboto-condensed/RobotoCondensed-Bold', 600, normal);


@include font-face('ProximaNova', 'proxima-nova/ProximaNova-Extrabld', 700, normal);
