.l-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    background: #EDEDED;
    font-family: SourceSansPro;
}

body {
    &.fixed-overlay {
        position: relative;
        &:after {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: fixed;
            background: linear-gradient(180deg, rgba(53, 83, 218, 0.5) 0%, rgba(53, 218, 159, 0.5) 65.62%);
            mix-blend-mode: multiply;
            opacity: 0.5;
            filter: blur(10px);
            z-index: 100;
            backdrop-filter: blur(10px);
        }
    }
    &.fixed {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.d-flex {
    display: flex;
}

.btn {
    border: none;
    background: none;
}

.posa {
    position: absolute;
}

.breadcrumbs {
    width: 100%;
    display: flex;
    justify-content: center;
    @media (max-width: 1280px) {
        display: none;
    }
    ul {
        display: flex;
        li {
            position: relative;
            &:last-child {
                &:after {
                    display: none;
                }
                a {
                    pointer-events: none;
                    cursor: none;
                    text-decoration: none;
                }
            }
            &:after {
                content: '/';
                position: absolute;
                right: -2.5px;
                top: 50%;
                transform: translateY(-50%);
                color: #FFFFFF;
                font-style: normal;
                font-weight: bold;
                font-size: 12.4975px;
            }
            a {
                font-style: normal;
                font-weight: bold;
                font-size: 12.4975px;
                line-height: 16px;
                color: #FFFFFF;
                padding: 0 5px;
                text-decoration: underline;
            }
        }
    }
}

.l-container {
    max-width: 1464px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    width: 100%;
    @media (max-width: 1279px) {
        max-width: 960px;
    }
    @media (max-width: 767px) {
        max-width: 720px;
    }
}

body {
    margin: 0;
    box-sizing: border-box;
}

main {
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.black-wrapper {
    background: #303030;
    height: calc(100vh - 75px);
    padding-top: 100px;
}

.c-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding-top: 60px;
    span {
        font-family: SourceSansPro;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 120%;
        /* or 13px */
        text-align: center;
        color: #000000;
    }
    &__link {
        display: flex;
        align-items: center;
        a {
            font-size: 11px;
            font-family: SourceSansPro;
            font-style: normal;
            font-weight: normal;
            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.c-user--modal-promo {
    cursor: pointer;
}

.aic {
    align-items: center !important;
    // margin-top: -43px;
}

.c-user--modal {
    cursor: pointer;
}

.c-copyright {
    svg {
        margin-bottom: 10px;
    }
}

.c-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_blue {
    display: flex;
    border-radius: 5px;
    min-width: 242px;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 14px;
    position: relative;
    height: 51px;
    background: #3553DA;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        transition: opacity .5s ease;
        background: linear-gradient(192.37deg, #3553DA 24.5%, #833ACE 74.28%);
    }
    span {
        position: relative;
        z-index: 1;
    }
    &:hover {
        &:after {
            opacity: 1;
        }
    }
}

body.blue-overlay {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #3553DA;
        opacity: 0.6;
        filter: blur(10px);
    }
}