.c-global-board {
    background: linear-gradient(180deg, #1BC0CF 0%, #12B2DE 10.71%, #0198FD 21.32%, #4795F2 32.93%, #A993E0 43.54%, #F692D2 55.83%, #F09673 67.61%, #EA9A06 80.58%, #60BF63 100%);
    padding-top: 32px;
    padding-bottom: 25px;
    position: relative;
    @media (max-width: 1599px) {
        padding-top: 26px;
        padding-bottom: 25px;
    }
    @media (max-width: 767) {
        padding-top: 0;
        padding-bottom: 25px;
    }
    &__body {
        @media (max-width: 1279px) {
            margin: 0 15px;
        }
        @media (max-width: 767px) {
            margin: 0;
        }
    }
    &__graphs {
        picture {
            position: absolute;
            @media (max-width: 1599px) {
                display: none;
            }
        }
        .conus {
            top: 48px;
            left: 70px;
        }
        .snake-r {
            top: 204px;
            right: 0;
        }
        .gradient-circle-r {
            top: 563px;
            right: 0;
        }
        .gradient-circle-r-big {
            top: 988px;
            right: 0;
        }
        .lines-circle {
            top: 671px;
            left: 0;
        }
        .triangle {
            top: 671px;
            left: 0;
        }
        .y-ball {
            top: 2004px;
            left: 0;
        }
        .b-ball {
            top: 1825px;
            right: 0;
        }
        .grad-circle-bot-l {
            top: 3367px;
            left: 0;
        }
        .grad-circle-bot-r {
            top: 2871px;
            right: 0;
        }
        .wave {
            bottom: 0;
            right: 0;
        }
    }
    &__filter {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 1446px;
        height: 349px;
        @media (max-width: 1599px) {
            width: 100%;
        }
        @media (max-width: 1279px) {
            width: 100%;
            height: auto;
        }
        &-bg {
            position: absolute;
            top: -5px;
            left: 31px;
            right: 13px;
            bottom: 0;
            @media (max-width: 1279px) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        &-title {
            position: relative;
            z-index: 50;
            padding-top: 99px;
            text-align: center;
            display: flex;
            justify-content: center;
            padding-left: 30px;
            @media (max-width: 1279px) {
                padding-top: 20px;
            }
            h2 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 125%;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 45px;
                }
                @media (max-width: 767px) {
                    font-size: 24px;
                }
            }
        }
        &-form {
            position: relative;
            z-index: 50;
            padding-top: 30px;
            padding-left: 30px;
            @media (max-width: 1279px) {
                padding-top: 24px;
            }
            @media (max-width: 767px) {
                input {
                    font-size: 14px !important;
                }
            }
            .select {
                @media (max-width: 767px) {
                    .select-styled:after {
                        right: 10px !important;
                    }
                }
            }
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-top: 70px;
        align-items: center;
        @media (max-width: 1599px) {
            padding-top: 80px;
            margin: 0 30px;
            width: auto;
        }
        @media (max-width: 767px) {
            padding-top: 120px;
            margin: 0;
        }
    }
    &__users-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-top: 74px;
    }
    &__user {
        display: flex;
        align-items: center;
        &--modal {
            cursor: pointer;
        }
        &-info {
            margin-left: 40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            color: #fff;
        }
        &-name {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
    }
    &__item {
        position: relative;
        &-body {
            position: relative;
            z-index: 5;
        }
        &-title {
            position: relative;
            display: flex;
            justify-content: center;
            @media (max-width: 767px) {
                padding-left: 0;
            }
            &-img {
                position: absolute;
                left: -250px;
                top: 50%;
                transform: translateY(-50%);
            }
            &-name {
                position: relative;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                h2 {
                    font-family: RobotoCondensed;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 50px;
                    line-height: 125%;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    @media (max-width: 1599px) {
                        font-size: 45px;
                    }
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
            }
        }
        &-wrapper-before {
            position: absolute;
            top: -60px;
            left: 0;
            right: 0;
        }
        &-wrapper-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                height: 100%;
                width: 100%;
            }
        }
        &--blue {
            width: 1449px;
            box-sizing: border-box;
            margin-left: 37px;
            @media (max-width: 1599px) {
                width: 100%;
                z-index: 5;
                margin-left: 0;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
            .c-global-board__item-wrapper-before {
                top: -45px;
                left: -31px;
                transform: matrix(1, -0.02, -0.01, 0.99, 0, 0);
                @media (max-width: 1599px) {
                    top: -20px;
                    left: -1px;
                }
                @media (max-width: 767px) {
                    top: -87px;
                    left: 0;
                    img {
                        position: absolute;
                        left: 0;
                    }
                }
            }
            .c-global-board__item-title {
                margin-left: 76px;
                @media (max-width: 767px) {
                    position: absolute;
                    top: -110px;
                    left: 118px;
                    margin-left: 0;
                }
            }
            .c-global-board__item-title-img {
                left: -235px;
                top: 43%;
                @media (max-width: 1599px) {
                    left: -145px;
                    top: 37%;
                }
                @media (max-width: 767px) {
                    top: 63%;
                    left: -97px;
                }
            }
            .c-global-board__item-title-name {
                margin-left: 0;
                @media (max-width: 1599px) {
                    margin-left: 0px;
                }
                @media (max-width: 767px) {
                    margin-left: 0;
                    width: 136px;
                    text-align: left;
                }
            }
            .c-global-board__item-wrapper {
                min-height: 1164px;
                padding-top: 68px;
                padding-bottom: 240px;
                @media (max-width: 1599px) {
                    min-height: 695px;
                    padding-top: 49px;
                    padding-bottom: 70px;
                }
                @media (max-width: 767px) {
                    min-height: 430px;
                    padding-bottom: 40px;
                }
            }
            .c-global-board__users-wrapper {
                padding-left: 97px;
                padding-top: 113px;
                padding-right: 5px;
                @media (max-width: 1599px) {
                    padding-left: 80px;
                    padding-right: 20px;
                    padding-top: 38px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
                @media (max-width: 767px) {
                    padding-left: 35px;
                    padding-top: 0;
                }
            }
            .c-global-board__user {
                margin-bottom: 47px;
                width: 48%;
                margin-right: 17px;
                align-items: flex-start;
                @media (max-width: 1599px) {
                    width: 50%;
                    margin-right: 50px;
                    margin-bottom: 36px;
                }
                @media (max-width: 1279px) {
                    width: 50%;
                    margin-right: 50px;
                    margin-bottom: 36px;
                    &:nth-child(n+4) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                }
                &:nth-child(even) {
                    width: 43%;
                    @media (max-width: 1599px) {
                        width: auto;
                    }
                }
            }
            .c-global-board__user-name {
                flex-direction: column;
                margin-bottom: 11px;
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                }
                b {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 100%;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 45px;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
            .c-global-board__user-city {
                margin-bottom: 15px;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
            }
            .c-global-board__user-info {
                margin-left: 44px;
                margin-top: 18px;
                @media (max-width: 767px) {
                    margin-left: 11px;
                    margin-top: 0;
                }
            }
            .c-global-board__user-img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                @media (max-width: 1599px) {
                    height: 100px;
                    width: 100px;
                }
                @media (max-width: 767px) {
                    height: 80px;
                    width: 80px;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                }
            }
            .c-global-board__btn {
                margin: 0;
                margin-top: 13px;
                position: relative;
                @media (max-width: 1599px) {
                    margin-bottom: 0;
                }
                @media (max-width: 1279px) {
                    margin-bottom: 0;
                }
                @media (max-width: 907px) {
                    position: relative;
                }
                @media (max-width: 767px) {
                    position: relative;
                }
            }
        }
        &--pink {
            width: 1538px;
            margin-top: -230px;
            margin-left: 30px;
            @media (max-width: 1599px) {
                margin-top: 30px;
                width: 100%;
                z-index: 4;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin-top: 109px;
                margin-left: 0;
            }
            .c-global-board__item-title {
                margin-left: 198px;
                @media (max-width: 767px) {
                    position: absolute;
                    top: -100px;
                    left: 118px;
                    margin-left: 0;
                }
            }
            .c-global-board__item-title-name {
                @media (max-width: 1599px) {
                    margin-left: 0;
                }
                @media (max-width: 767px) {
                    margin-left: 0;
                    width: 136px;
                    text-align: left;
                }
            }
            .c-global-board__item-title-img {
                left: -221px;
                top: 21%;
                @media (max-width: 1599px) {
                    left: -147px;
                    top: 30%;
                }
                @media (max-width: 767px) {
                    top: 63%;
                    left: -97px;
                }
            }
            .c-global-board__item-wrapper-before {
                @media (max-width: 1599px) {
                    top: -170px;
                }
                @media (max-width: 767px) {
                    top: -84px;
                    left: -11px;
                    img {
                        position: absolute;
                        left: 0;
                    }
                }
            }
            .c-global-board__item-wrapper {
                min-height: 1142px;
                padding-top: 90px;
                padding-bottom: 0px;
                padding-bottom: 100px;
                @media (max-width: 1599px) {
                    min-height: 594px;
                    padding-top: 75px;
                    padding-bottom: 70px;
                }
                @media (max-width: 767px) {
                    min-height: 461px;
                    padding-top: 43px;
                    padding-bottom: 40px;
                }
            }
            .c-global-board__users-wrapper {
                padding-left: 41px;
                padding-top: 93px;
                justify-content: flex-start;
                align-items: flex-start;
                @media (max-width: 1599px) {
                    padding-left: 43px;
                    padding-top: 42px;
                }
                @media (max-width: 767px) {
                    padding-top: 0;
                    padding-left: 27px;
                }
            }
            .c-global-board__user {
                width: 31.5%;
                margin-bottom: 77px;
                margin-right: 35px;
                display: flex;
                align-items: flex-start;
                &:nth-child(2),
                &:nth-child(5),
                &:nth-child(8) {
                    width: 29.7%;
                }
                @media (max-width: 1599px) {
                    width: 50%;
                    margin-right: 0;
                    margin-bottom: 38px;
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
                &.aic {
                    margin-top: 0;
                }
            }
            .c-global-board__user-info {
                margin-top: 0;
                margin-left: 32px;
                @media (max-width: 1599px) {
                    margin-top: 0;
                    margin-left: 19px;
                }
            }
            .c-global-board__user-img {
                height: 150px;
                width: 150px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                @media (max-width: 1599px) {
                    height: 100px;
                    width: 100px;
                }
                @media (max-width: 1279px) {
                    height: 64px;
                    width: 64px;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                }
            }
            .c-global-board__user-name {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 11px;
                b {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 100%;
                    text-transform: uppercase;
                    margin-right: 6px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 25px;
                    line-height: 100%;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
            .c-global-board__user-city {
                margin-top: 7px;
                margin-bottom: 15px;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
            }
            .c-global-board__btn {
                margin-top: 4px;
                margin-left: -7px;
                @media (max-width: 1599px) {
                    position: relative;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-top: 0;
                }
                @media (max-width: 767px) {}
            }
        }
        &--yellow {
            width: 1542px;
            margin-top: -83px;
            margin-left: -42px;
            margin-right: 0;
            box-sizing: border-box;
            position: relative;
            z-index: 2;
            @media (max-width: 1599px) {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-top: 61px;
                z-index: 3;
            }
            @media (max-width: 767px) {
                width: 100%;
                margin: 0 !important;
                margin-top: 117px !important;
            }
            .c-global-board__item-title-img {
                left: -200px;
                @media (max-width: 1599px) {
                    left: -135px;
                    top: 44%;
                }
            }
            .c-global-board__item-wrapper {
                min-height: auto;
                padding-bottom: 80px;
                box-sizing: border-box;
                @media (max-width: 1599px) {
                    min-height: 558px;
                    padding-top: 20px;
                    padding-bottom: 70px;
                }
                @media (max-width: 767px) {
                    padding-bottom: 40px;
                }
            }
            .c-global-board__item-title-name {
                margin-left: 0;
                @media (max-width: 1599px) {
                    margin-left: 0;
                }
                @media (max-width: 767px) {
                    margin-left: 0;
                    width: 136px;
                    text-align: left;
                }
            }
            .c-global-board__item-title {
                padding-top: 51px;
                margin-left: 223px;
                @media (max-width: 1599px) {
                    padding-top: 49px;
                }
                @media (max-width: 767px) {
                    position: absolute;
                    top: -123px;
                    left: 118px;
                    margin-left: 0;
                }
            }
            .c-global-board__item-wrapper-before {
                @media (max-width: 1599px) {
                    top: -185px;
                    right: -9px;
                }
                @media (max-width: 767px) {
                    top: -90px;
                    right: auto;
                    left: 0;
                    img {
                        left: 0;
                    }
                }
            }
            .c-global-board__item-title-img {
                left: -215px;
                top: 50%;
                @media (max-width: 1599px) {
                    left: -135px;
                    top: 44%;
                }
                @media (max-width: 767px) {
                    top: 63%;
                    left: -97px;
                }
            }
            .c-global-board__users-wrapper {
                padding-left: 113px;
                padding-top: 117px;
                justify-content: space-between;
                @media (max-width: 1599px) {
                    padding-left: 44px;
                    padding-top: 50px;
                }
                @media (max-width: 767px) {
                    padding-top: 36px;
                }
            }
            .c-global-board__user {
                width: 32%;
                margin-bottom: 66px;
                margin-right: 0;
                display: flex;
                align-items: flex-start;
                @media (max-width: 1599px) {
                    width: 50%;
                    margin-right: 0;
                    margin-bottom: 45px;
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 29px;
                }
                &.aic {
                    margin-top: 0;
                }
            }
            .c-global-board__user-img {
                height: 130px;
                width: 130px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                @media (max-width: 1599px) {
                    height: 100px;
                    width: 100px;
                }
                @media (max-width: 1279px) {
                    width: 55px;
                    height: 55px;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                }
            }
            .c-global-board__user-name {
                flex-direction: column;
                margin-bottom: 11px;
                b {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 100%;
                    text-transform: uppercase;
                    margin-right: 6px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 100%;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
            .c-global-board__user-city {
                margin-top: 0;
                margin-bottom: 15px;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
            }
            .c-global-board__user-info {
                margin-left: 32px;
                margin-top: 2px;
                @media (max-width: 1599px) {
                    margin-left: 19px;
                }
            }
            .c-global-board__btn {
                margin-left: -14px;
                margin-top: 0;
                margin-bottom: 23px;
                @media (max-width: 1599px) {
                    position: relative;
                    margin-bottom: 0;
                }
                @media (max-width: 767px) {}
            }
        }
        &--orange {
            width: 1519px;
            margin-top: -82px;
            margin-left: -35px;
            position: relative;
            z-index: 1;
            @media (max-width: 1599px) {
                width: 100%;
                margin-left: 20px;
                margin-right: 20px;
                margin-top: 20px;
            }
            @media (max-width: 767px) {
                margin-top: 119px;
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
            .c-global-board__item-title-img {
                left: -215px;
                top: 41%;
            }
            .c-global-board__item-wrapper {
                min-height: auto;
                padding-bottom: 60px;
                @media (max-width: 1599px) {
                    min-height: 521px;
                    padding-bottom: 70px;
                }
                @media (max-width: 767px) {
                    min-height: 608px;
                    padding-bottom: 40px;
                }
            }
            .c-global-board__item-title {
                padding-top: 168px;
                margin-left: 142px;
                @media (max-width: 1599px) {
                    padding-top: 70px;
                    margin-left: 0;
                }
                @media (max-width: 767px) {
                    position: absolute;
                    top: -125px;
                    left: 71px;
                }
                &-name {
                    @media (max-width: 1599px) {
                        margin-left: 109px;
                    }
                    @media (max-width: 767px) {
                        margin-left: 40px;
                        width: 136px;
                        text-align: left;
                    }
                }
                &-img {
                    @media (max-width: 1599px) {
                        left: -135px;
                        top: 50%;
                    }
                    @media (max-width: 767px) {
                        top: 63%;
                        left: -97px;
                    }
                }
            }
            .c-global-board__users-wrapper {
                padding-left: 97px;
                padding-top: 96px;
                justify-content: flex-start;
                @media (max-width: 1599px) {
                    padding-left: 54px;
                    padding-top: 38px;
                }
                @media (max-width: 767px) {
                    padding-left: 38px;
                    padding-top: 50px;
                }
            }
            .c-global-board__item-wrapper-before {
                @media (max-width: 1599px) {
                    top: -175px;
                }
                @media (max-width: 1279px) {
                    top: -175px;
                }
                @media (max-width: 767px) {
                    top: -90px;
                    left: -11px;
                    img {
                        left: 0;
                        position: absolute;
                    }
                }
            }
            .c-global-board__user {
                width: 23.73%;
                margin-bottom: 72px;
                margin-right: 18px;
                display: flex;
                align-items: flex-start;
                @media (max-width: 1200px) {
                    width: 50%;
                    margin-right: 0;
                    margin-bottom: 45px;
                    &:nth-child(n+7) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: 29px;
                }
            }
            .c-global-board__user-img {
                height: 55px;
                width: 55px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                flex-shrink: 0;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                }
            }
            .c-global-board__user-name {
                flex-direction: column;
                margin-bottom: 3px;
                b {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 25px;
                    line-height: 100%;
                    text-transform: uppercase;
                    margin-right: 6px;
                    @media (max-width: 767px) {
                        font-size: 20px;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 19px;
                    line-height: 100%;
                    text-transform: uppercase;
                    @media (max-width: 767px) {
                        font-size: 16px;
                    }
                }
            }
            .c-global-board__user-city {
                margin-top: 0;
                margin-bottom: 9px;
                span {
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 100%;
                    text-transform: uppercase;
                }
            }
            .c-global-board__user-info {
                margin-left: 22px;
                @media (max-width: 767px) {
                    margin-left: 19px;
                }
            }
            .c-global-board__btn {
                position: relative;
                margin-top: -5px;
                margin-bottom: 50px;
                @media (max-width: 1599px) {
                    margin-bottom: 0;
                }
                button {
                    margin-left: 31px;
                    @media (max-width: 767px) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 40px;
        button {
            position: relative;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 226px;
            height: 51px;
            background: #833ACE;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 125%;
                color: #FFFFFF;
                position: relative;
                z-index: 50;
            }
        }
    }
    .hidden {
        display: none;
    }
    &--result {
        background: linear-gradient(180deg, #1BC0CF 0%, #12B2DE 10.71%, #0198FD 21.32%, #4795F2 32.93%);
        height: 100%;
        padding-bottom: 25px;
        .c-global-board__items {
            padding: 0 15px;
            @media (max-width: 767px) {
                padding: 0;
            }
        }
        .c-global-board__item {
            margin-top: 0;
            padding-bottom: 60px;
            width: 100%;
            margin-left: 15px;
            margin-right: 15px;
            max-width: 1500px;
            margin-top: 30px;
            @media (max-width: 767px) {
                margin-left: 0;
                margin-right: 0;
                margin-top: 100px;
            }
            .c-global-board__item-wrapper {
                min-height: auto;
                padding-bottom: 0;
            }
        }
        .c-global-board__btn {
            display: none;
        }
        .c-global-board__item-wrapper-before {
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
        }
        .c-global-board__users-wrapper {
            display: flex;
            justify-content: center;
        }
    }
    &__nothing {
        padding-top: 200px;
        padding-bottom: 200px;
        @media (max-width: 767px) {
            padding-top: 100px;
        }
        span {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    @media (max-width: 1279px) {
        .c-inputs__button {
            margin-left: 15px;
        }
    }
    @media (max-width: 767px) {
        .c-inputs__button {
            margin-left: 0;
        }
    }
}

.c-global-board--result {
    @media (max-width: 1279px) {
        .c-inputs__region {
            width: 47%;
        }
        .c-inputs__percent {
            width: 50%;
        }
    }
    @media (max-width: 767px) {
        .c-inputs__region {
            width: 100%;
        }
        .c-inputs__percent {
            width: 100%;
        }
    }
}