//-----------   INCLUDES   --------------

//- helpers
include ../helpers/paths
include ../helpers/_mixins

//- components
include ../components/head/head
include ../components/header/header
include ../components/footer/footer

//-----------   INCLUDES END  --------------

doctype html
html(lang='en')
	block head
		+head({'title':'Hello'})
	body
		.l-wrapper
			block header
			main
				block content
		block beforeScripts
			.c-percent-board__modal-wrapper
				.c-percent-board__modal.c-percent-board__modal--18
					.c-percent-board__modal-inner
						.c-percent-board__modal-header
							.c-percent-board__modal-header-desc
								b 18%
								span Поздравляем с достижением уровня!
							.c-percent-board__modal-header-close
								button(type="button").close-modal
									+svg("icon-close")
						.c-percent-board__modal-body
							.c-percent-board__modal-user
								.c-percent-board__modal-user-img
									.c-percent-board__modal-user-img-inner.h-object-fit
										img(src="s/images/useful/users/big.png", alt="")
								.c-percent-board__modal-user-desc
									.c-percent-board__modal-user-surname 
									.c-percent-board__modal-user-name 
						.c-percent-board__modal-footer
							a(href="").certificate Получить сертификат
							a(href="").page Личная страница
		script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
		script(type='text/javascript', src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
		script(src=route.js + "main.js")