mixin c-avatar(data)
	.c-avatar
		.c-avatar__wrapper
			.c-avatar__create
				.c-avatar__graphs
						picture.animate.snake-top.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/snake-top.png', alt='')
						picture.animate.half-circle-r.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/half-circle-r.png', alt='')
						picture.animate.half-circle-r-big.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/half-circle-r-big.png', alt='')
						picture.animate.lines-circle.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/lines-circle.png', alt='')
						picture.animate.conus.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/conus.png', alt='')
						picture.animate.triangle.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/triangle.png', alt='')
						picture.animate.snake-l.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/snake-l.png', alt='')
						picture.animate.wave-r.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/wave-r.png', alt='')
						picture.animate.half-circle-l.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
							img(src='s/images/useful/avatar/graphs/half-circle-l.png', alt='')
				.l-container
					.c-avatar__breadcrumbs.breadcrumbs
						ul.h-reset-list
							li
								a(href="#") Главная страица
							li
								a(href="#") Интерактив
							li
								a(href="#") Создать аватарку
					.c-avatar__create-title
						h2 Создай аватарку
					.c-avatar__create-banner
						.c-avatar__create-banner-inner
							.c-avatar__create-banner-title-imgs
								picture.title-img-1
									img(src='s/images/useful/avatar/title-img-1.png', alt='')
								picture.title-img-2
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/title-img-2-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/title-img-2-md.png')
									img(src='s/images/useful/avatar/title-img-2.png', alt='')
								picture.title-img-3
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/title-img-3-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/title-img-3-md.png')
									img(src='s/images/useful/avatar/title-img-3.png', alt='')
							.c-avatar__create-banner-title-bg
								picture.title-bg
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/title-bg-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/title-bg-md.png')
									img(src='s/images/useful/avatar/title-bg.png', alt='')
							.c-avatar__create-banner-title-after
								picture.title-after
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/title-after-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/title-after-md.png')
									img(src='s/images/useful/avatar/title-after.png', alt='')
							.c-avatar__create-banner-title-txt
								span Проявите индивидуальность с помощью красивого аватара, созданного в нашем сервисе!
			.c-avatar__how-create
				.l-container
					.c-avatar__how-create-title
						h3 Как сделать аватарку
					.c-avatar__how-create-items
						.c-avatar__how-create-item
							.c-avatar__how-create-item-img
								picture.img-item-1
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/img-item-1-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/img-item-1-md.png')
									img(src='s/images/useful/avatar/img-item-1.png', alt='')
							.c-avatar__how-create-item-desc
								span Перейдите в редактор и загрузте фото
						.c-avatar__how-create-item
							.c-avatar__how-create-item-img
								picture.img-item-2
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/img-item-2-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/img-item-2-md.png')
									img(src='s/images/useful/avatar/img-item-2.png', alt='')
							.c-avatar__how-create-item-desc
								span Выберите рамку для создание вашего индивидуального аватара
						.c-avatar__how-create-item
							.c-avatar__how-create-item-img
								picture.img-item-3
									source(media='(max-width: 767px)', srcset='s/images/useful/avatar/img-item-3-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/avatar/img-item-3-md.png')
									img(src='s/images/useful/avatar/img-item-3.png', alt='')
							.c-avatar__how-create-item-desc
								span Скачайте и станьте неповторимым!
			.c-avatar__edit
				.l-container
					.c-avatar__edit-title
						h3 Редактор аватарок
					.c-avatar__edit-tab-wrapper
						.tab
							ul.tabs
								li.current(data-tab="tab-1")
									button.tablinks 1. Загрузка фото
								li(data-tab="tab-2")
									button.tablinks 2. Выбор рамки
							.tab_content
								.tabs_item.tab-content.tab-active.current#tab-1
									.c-avatar__edit-upload-photo
										div#profile-photo-div.profile-photo-div
											div#profile-img-div.profile-img-div
												img#profile-img
											.profile-buttons-div
												div#profile-img-input.profile-img-input
													label#change-photo-label.button(for='change-photo') 
														span Выбрать файл
													input#change-photo(name='change-photo' type='file' style='display: none' accept=".jpg, .jpeg, .png")
												button(type="button").next-step-ava.disabled Далее
								.tabs_item.tab-content#tab-2.result
									.c-avatar__edit-upload-photo
										div#profile-photo-div.profile-photo-div
											div#profile-img-div.profile-img-div
												.preview: img(src="", alt="")
											.c-avatar__edit-slider
												.c-avatar__edit-slider-main
													.slider-main
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/1.png", alt="")
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/2.png", alt="")
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/3.png", alt="")
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/4.png", alt="")
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/5.png", alt="")
														.slider-main-item
															.slider-main-item-inner
																img(src="s/images/useful/avatar/borders/6.png", alt="")
												.c-avatar__edit-slider-nav
													.slider-nav
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/1.png", alt="")
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/2.png", alt="")
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/3.png", alt="")
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/4.png", alt="")
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/5.png", alt="")
														.slider-nav-item
															.slider-nav-item-inner
																img(src="s/images/useful/avatar/borders/6.png", alt="")
											.c-avatar__edit-actions
												a(href="#")#downloadImg
													button(type="button" , onClick="download()").download
														span Скачать
				.c-copyright
					a(href="#")
						svg(width='71', height='25', viewBox='0 0 71 25', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M0 24.1993C0 24.1993 40.7243 14.1688 70.9027 21.2331L71 20.9013C71 20.9013 44.6742 13.0955 0.505892 22.5991L0 24.1993Z', fill='black')
							path(d='M19.5156 4.5083V6.16704C19.6713 5.83529 19.8658 5.38645 20.3717 4.95713C20.936 4.48878 21.7337 4.21558 22.5315 4.21558C22.9401 4.21558 23.3487 4.29363 23.7379 4.43024C25.0026 4.89859 25.3528 5.91335 25.5085 6.32315C26.4813 4.48878 28.0379 4.23509 28.8746 4.23509C29.9058 4.23509 30.8009 4.62538 31.3846 5.21082C32.4548 6.26461 32.4937 7.39646 32.4937 10.2456V16.8025H29.3805V10.9871C29.3805 9.01617 29.3416 8.60636 29.0108 8.07947C28.6606 7.51354 28.1741 7.39646 27.7072 7.39646C26.851 7.39646 26.423 8.02092 26.3646 8.11849C26.0338 8.70393 26.0338 9.73821 26.0338 10.7335V16.822H22.9012V10.6164C22.9012 9.28937 22.9012 8.68442 22.5899 8.13801C22.3564 7.7282 21.8894 7.39646 21.3057 7.39646C21.0333 7.39646 20.7609 7.47451 20.4885 7.61112C19.574 8.13801 19.5545 9.03568 19.5545 11.3579V16.8025H16.4219V4.5083H19.5156Z', fill='black')
							path(d='M44.9658 4.5083H48.1568L44.9658 16.822H42.0472L40.1987 8.50879L38.3697 16.822H35.4122L32.2212 4.5083H35.4122L37.0855 12.1971L38.8172 4.5083H41.5997L43.3119 12.1971L44.9658 4.5083Z', fill='black')
							path(d='M54.7524 10.5188C54.7524 11.6311 54.5968 12.7044 53.9352 13.5045C53.3904 14.1485 52.7678 14.1875 52.5732 14.1875C51.9506 14.1875 51.2501 13.8168 50.822 12.7435C50.5691 12.119 50.4718 11.3969 50.4718 10.6359C50.4718 9.67966 50.608 8.70393 51.1334 7.92335C51.5225 7.37694 52.1062 7.02568 52.6899 7.02568C53.1569 7.02568 53.6239 7.25985 53.9547 7.65015C54.3633 8.09898 54.7524 8.91859 54.7524 10.5188ZM54.9081 16.8025H57.9824V4.48878H54.9665V6.08898C54.4217 4.89859 53.4488 4.21558 52.2424 4.21558C50.1605 4.21558 47.417 6.03043 47.417 10.8701C47.417 14.7144 49.3822 17.0952 52.0089 17.0952C53.799 17.0952 54.5189 16.0414 54.9081 15.4755V16.8025Z', fill='black')
							path(d='M65.202 4.5083H68.393L64.8907 16.7244C64.6378 17.5831 64.2291 18.9881 63.6065 19.6711C63.0228 20.2956 62.3418 20.5688 59.8123 20.5688C59.4426 20.5688 59.3064 20.5493 58.9757 20.5298V17.7977H59.8123C60.1042 17.7977 60.8241 17.7977 61.1354 17.4855C61.3884 17.2708 61.6024 16.744 61.6024 16.2561C61.6024 16.0024 61.4662 15.5145 61.3689 15.2023L57.9639 4.5083H61.3689L63.373 12.802L65.202 4.5083Z', fill='black')
							path(d='M9.41735 3.68826L11.0907 10.1671H7.82184L9.41735 3.68826ZM7.43269 0L2.1792 16.8021H6.03176L7.00463 13.2309H11.9468L12.9586 16.8021H16.8501L11.3631 0H7.43269Z', fill='black')
					span 2011-2019 Amway Europe. Все права защищены.
					.c-copyright__link
						a(href="#") http://www.alticor.com
						a(href="#") http://www.amwayglobal.com
			.c-avatar__modal
				.c-avatar__modal-inner
					canvas#user-img.canvas-ava
				