.c-avatar {
    &__wrapper {
        position: relative;
    }
    &__graphs {
        @media (max-width: 1280px) {
            display: none;
        }
        picture {
            position: absolute;
        }
        .snake-top {
            top: -70px;
            right: 0;
        }
        .half-circle-r {
            top: 71px;
            right: 0;
        }
        .half-circle-r-big {
            top: 496px;
            right: 0;
        }
        .lines-circle {
            top: 180px;
            left: 0;
        }
        .conus {
            top: 110px;
            left: 90px;
        }
        .triangle {
            top: 958px;
            left: 0;
        }
        .snake-l {
            top: 1400px;
            left: 0;
        }
        .wave-r {
            top: 1620px;
            right: 0;
        }
        .half-circle-l {
            top: 2045px;
            left: 0;
        }
    }
    &__create {
        background: linear-gradient(90deg, #D286E7 0%, #0097FF 100%);
        padding-top: 31px;
        padding-bottom: 25px;
        @media (max-width: 1280px) {
            padding-bottom: 25px;
        }
        @media (max-width: 768px) {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &-title {
            padding-top: 69px;
            @media (max-width: 1280px) {
                padding-top: 20px;
            }
            @media (max-width: 768px) {
                padding-top: 0;
            }
            h2 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 75px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1280px) {
                    font-size: 45px;
                    line-height: 56px;
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        &-banner {
            position: relative;
            width: 1480px;
            height: 400px;
            margin-top: 88px;
            margin-left: -41px;
            @media (max-width: 1280px) {
                width: 615px;
                height: 320px;
                margin: 0 auto;
                margin-top: 30px;
            }
            @media (max-width: 768px) {
                margin-top: 88px;
                width: 309px;
                height: 160px;
            }
            &-inner {
                height: 100%;
                width: 100%;
                position: relative;
            }
            &-title-imgs {
                z-index: 50;
                position: relative;
                .title-img-1,
                .title-img-2,
                .title-img-3 {
                    position: absolute;
                }
                .title-img-1 {
                    top: -90px;
                    left: -39px;
                    @media (max-width: 1280px) {
                        display: none;
                    }
                }
                .title-img-2 {
                    top: -153px;
                    left: 22px;
                    @media (max-width: 1280px) {
                        top: 10px;
                        left: -40px;
                    }
                    @media (max-width: 768px) {
                        top: -70px;
                        left: 50px;
                    }
                }
                .title-img-3 {
                    top: 0;
                    left: -77px;
                    @media (max-width: 1280px) {
                        top: 120px;
                        left: -60px;
                    }
                    @media (max-width: 768px) {
                        top: -60px;
                        left: auto;
                        right: 50px;
                    }
                }
            }
            &-title-bg {
                z-index: 40;
                position: relative;
                .title-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }
            }
            &-title-after {
                position: absolute;
                top: -11px;
                left: 38px;
                right: 0;
                @media (max-width: 768px) {
                    left: 0;
                }
            }
            &-title-txt {
                max-width: 585px;
                margin: 0 auto;
                text-align: center;
                z-index: 60;
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 59px;
                padding-left: 12px;
                @media (max-width: 1280px) {
                    max-width: 400px;
                    padding-bottom: 0;
                }
                @media (max-width: 768px) {
                    max-width: 250px;
                }
                span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 40px;
                    line-height: 48px;
                    text-align: center;
                    letter-spacing: 0.01em;
                    color: #FFFFFF;
                    @media (max-width: 1280px) {
                        font-size: 26px;
                        line-height: 31px;
                    }
                    @media (max-width: 768px) {
                        font-size: 16px;
                        line-height: 19px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    &__how-create {
        background: linear-gradient(180deg, rgba(0, 175, 214, 0.48) 0%, rgba(255, 255, 255, 0) 100%), #0276FF;
        padding-top: 71px;
        padding-bottom: 250px;
        @media (max-width: 1280px) {
            padding-bottom: 130px;
        }
        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 53px;
        }
        &-title {
            h3 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1280px) {
                    font-size: 35px;
                    line-height: 44px;
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        &-items {
            display: flex;
            padding-top: 75px;
            justify-content: space-around;
            max-width: 1232px;
            padding-left: 11px;
            margin: 0 auto;
            @media (max-width: 1280px) {
                padding-top: 21px;
                max-width: none;
            }
            @media (max-width: 768px) {
                flex-direction: column;
                align-items: center;
                max-width: 100%;
            }
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 432px;
            @media (max-width: 768px) {
                max-width: 241px;
                width: 100%;
            }
            &:not(:last-child) {
                @media (max-width: 768px) {
                    margin-bottom: 28px;
                }
            }
            &:first-child,
            &:last-child {
                width: 335px;
            }
            &-img {
                height: 273px;
                margin-bottom: 21px;
                @media (max-width: 1280px) {
                    height: 150px;
                }
            }
            &-desc {
                text-align: center;
                span {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 26px;
                    line-height: 25px;
                    text-align: center;
                    color: #FFFFFF;
                    text-align: center;
                    @media (max-width: 1280px) {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    &__edit {
        background: linear-gradient(237.99deg, rgba(255, 255, 255, 0.15) 41.18%, rgba(255, 255, 255, 0) 96.51%), linear-gradient(180deg, #23D5BB 16%, #196CEB 100%);
        padding-top: 98px;
        padding-bottom: 20px;
        @media (max-width: 1280px) {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &-title {
            h3 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 50px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1280px) {
                    font-size: 35px;
                    line-height: 44px;
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
        &-tab-wrapper {
            .tab {
                padding-top: 36px;
                margin-bottom: 20px;
                position: relative;
                overflow: hidden;
                width: 70%;
                margin: 0 auto;
                line-height: 1.5;
                font-weight: 300;
                color: #888;
                -webkit-font-smoothing: antialiased;
                @media (max-width: 1280px) {
                    width: 100%;
                }
            }
            .tabs {
                display: flex;
                justify-content: flex-start;
                position: relative;
                padding-bottom: 9px;
                padding-left: 10px;
                overflow: hidden;
                padding-left: 0;
                width: 566px;
                margin: 0 auto;
                list-style-type: none;
                @media (max-width: 768px) {
                    width: max-content;
                    justify-content: center;
                }
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 4px;
                    height: 4px;
                }
                li {
                    float: left;
                    line-height: 38px;
                    padding: 0;
                    position: relative;
                    &:first-child {
                        padding-left: 15px;
                        padding-right: 63px;
                        @media (max-width: 768px) {
                            padding: 0;
                            padding-right: 14px;
                        }
                    }
                    &:last-child {
                        padding-left: 23px;
                        padding-right: 47px;
                        cursor: not-allowed;
                        pointer-events: none;
                        &.click {
                            cursor: pointer;
                            pointer-events: inherit;
                        }
                        @media (max-width: 768px) {
                            padding: 0;
                        }
                    }
                    &.current {
                        cursor: inherit;
                        pointer-events: inherit;
                        &:after {
                            content: '';
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -9px;
                            background: white;
                            border-radius: 4px;
                            height: 4px;
                            z-index: 999;
                        }
                    }
                }
                button {
                    color: rgba(255, 255, 255, 0.6);
                    font-style: normal;
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 32px;
                    background-color: none;
                    @media (max-width: 768px) {
                        font-size: 18px;
                        line-height: 22px;
                        font-weight: 400;
                    }
                }
            }
            // .tabs_item {
            //     display: none;
            //     &:first-child {
            //         display: block;
            //     }
            // }
            .current button {
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 32px;
                color: #FFFFFF;
                @media (max-width: 768px) {
                    font-size: 18px;
                    line-height: 22px;
                    font-weight: bold;
                }
            }
        }
        &-upload-photo {
            .bar {
                display: block;
                background-color: #00cccf;
            }
            .profile-photo-div {
                position: relative;
                margin: 36px auto 10px auto;
                overflow: hidden;
                border-radius: 10px;
                -webkit-transition: ease .3s;
                -o-transition: ease .3s;
                transition: ease .3s;
                @media (max-width: 1280px) {
                    margin-top: 61px;
                }
            }
            .profile-img-div {
                display: flex;
                position: relative;
                overflow: hidden;
                height: 380px !important;
                width: 380px;
                margin: 0 auto;
                img {
                    margin: auto;
                }
                @media (max-width: 768px) {
                    height: 274px !important;
                    width: 274px;
                }
            }
            #loader {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: #00cccf;
                z-index: 10;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
            }
            #change-photo {
                opacity: 0;
                visibility: hidden;
                height: 0;
                width: 0;
            }
            .profile-buttons-div {
                position: relative;
                display: block;
            }
            .button {
                position: relative;
                display: flex;
                justify-content: center;
                padding: 15px;
                background: #833ACE;
                border-radius: 5px;
                cursor: pointer;
                transition: .5s;
                overflow: hidden;
                border-radius: 5px;
                width: 226px;
                margin: 0 auto;
                margin-top: 100px;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 5px;
                    transition: all 0.5s ease;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    z-index: 50;
                    position: relative;
                }
            }
            .button:hover {
                letter-spacing: 1px;
            }
            .button:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                background-color: rgba(255, 255, 255, 0.4);
                border-radius: 50%;
                opacity: 0;
                -webkit-transition: .9s;
                -o-transition: .9s;
                transition: .9s;
            }
            .button:hover:after {
                -webkit-transform: scale(50);
                -ms-transform: scale(50);
                transform: scale(50);
                opacity: 1;
            }
            .button.half {
                width: 50%;
            }
            .slick-slide {
                &:focus,
                a {
                    outline: none;
                }
            }
            .profile-img-confirm {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
            }
            .error {
                font-family: Helvetica, sans-serif;
                font-size: 13px;
                color: red;
                text-align: center;
                display: none;
            }
            .profile-img-div {
                background: #127FFE;
                background-image: url(../images/useful/avatar/ava-img.png);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                box-sizing: border-box;
                border-radius: 10px;
                // @media (max-width: 768px) {
                //     border: 3px dashed #FFFFFF;
                // }
            }
        }
        &-slider {
            opacity: 0;
            visibility: hidden;
            height: 0;
            transition: all 0.3s ease;
        }
        &-slider-main {
            height: 400px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 400px;
            margin: 0 auto;
            @media (max-width: 768px) {
                height: 274px;
                width: 274px !important;
            }
            .slider-main-item {
                height: auto;
                width: 400px !important;
                position: relative;
                z-index: 99999;
                @media (max-width: 768px) {
                    width: 274px !important;
                    height: 274px !important;
                }
                img {
                    position: relative;
                    z-index: 9999;
                    height: 100%;
                    width: 100%;
                    margin: 0;
                }
            }
        }
        &-slider-nav {
            margin: 0 auto;
            margin-top: 0;
            width: 615px;
            @media (max-width: 768px) {
                width: 144px;
            }
            .slick-list {
                padding: 0 !important;
            }
            .slick-track {
                display: flex;
                justify-content: center;
                @media (max-width: 768px) {
                    display: block;
                }
            }
            .slider-nav-item {
                margin-right: 10px;
                @media (max-width: 768px) {
                    margin-right: 0;
                }
                &-inner {
                    width: 95px !important;
                    height: 95px !important;
                    margin: 0 auto;
                }
                &:hover {
                    cursor: pointer;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            .slick-arrow {
                width: 0;
                height: 0;
                border-style: solid;
                border-radius: 3px;
                font-size: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                @media (max-width: 768px) {
                    z-index: 999999;
                }
            }
            .slick-next {
                right: 0;
                border-width: 9px 0 9px 9px;
                border-color: transparent transparent transparent #fff;
            }
            .slick-prev {
                left: 0;
                border-color: transparent #fff transparent transparent;
                border-width: 9px 9px 9px 0;
            }
        }
        &-actions {
            display: flex;
            justify-content: center;
            margin-top: 62px;
            opacity: 0;
            visibility: hidden;
            height: 0;
            display: none;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .download {
                position: relative;
                border: none;
                box-shadow: none;
                border-radius: 5px;
                display: flex;
                background: #833ACE;
                border-radius: 5px;
                padding: 13px;
                min-width: 226px;
                justify-content: center;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 5px;
                    transition: all 0.5s ease;
                }
                &:hover {
                    &:after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                span {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                    z-index: 50;
                    position: relative;
                }
                @media (max-width: 768px) {
                    min-height: 51px;
                    margin: 0 auto;
                    margin-bottom: 13px;
                    max-width: 226px;
                }
            }
        }
    }
    &__modal {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -99;
        top: 0;
        left: 0;
        @media (max-width: 768px) {
            width: 100%;
            left: 0;
            right: 0;
        }
        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 99999999;
            .c-avatar__edit-slider {
                opacity: 1;
                visibility: visible;
            }
            .profile-buttons-div {
                display: none;
            }
            .profile-photo-div {
                @media (max-width: 768px) {
                    margin-top: 21px;
                }
            }
            .c-avatar__edit-actions {
                display: none;
            }
            .c-avatar__edit-slider-nav {
                display: none;
            }
            .c-avatar__edit-upload-photo .profile-img-div {
                border: none;
            }
        }
        &-inner {
            padding: 33px 28px 45px 28px;
            background: linear-gradient(180deg, #196CEB 11.65%, #23D5BB 102.12%);
            border-radius: 11px;
            min-width: 591px;
            @media (max-width: 768px) {
                min-width: 290px;
                padding: 13px 0 28px 0;
                display: flex;
                flex-direction: column;
            }
        }
        &-header {
            display: flex;
            justify-content: flex-end;
            @media (max-width: 768px) {
                padding-right: 16px;
            }
            .icon {
                font-size: 32px;
            }
        }
        &-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 80px;
            @media (max-width: 768px) {
                margin-top: 30px;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 21.0068px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
        &-socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            a:first-child {
                margin-right: 13px;
            }
            .icon {
                font-size: 40px;
            }
        }
        @media (max-width: 768px) {
            .c-avatar__edit-slider-main .slider-main-item .slider-main-item-inner {
                width: 220px !important;
                height: 220px !important;
            }
            .c-avatar__edit-upload-photo .profile-img-div {
                height: 220px !important;
                width: 220px;
            }
            .c-avatar__edit-slider-main {
                height: 220px;
                width: 220px !important;
            }
        }
    }
    .next-step-ava {
        font-style: normal;
        font-weight: bold;
        font-size: 16px !important;
        line-height: 20px !important;
        text-align: center;
        color: #FFFFFF;
        z-index: 50;
        position: relative;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 15px;
        background: #833ACE;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
        overflow: hidden;
        border-radius: 5px;
        width: 226px;
        margin-left: 20px;
        margin-top: 100px;
        position: relative;
        z-index: 50;
        transition: all 0.3s ease;
        @media (max-width: 500px) {
            margin: 0;
            margin-top: 20px;
        }
        &:hover {
            background: none;
            &:after {
                opacity: 1;
            }
        }
        &.disabled {
            display: none;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
            opacity: 0;
            transition: all 0.3s ease;
        }
    }
    .profile-buttons-div {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 500px) {
            flex-direction: column;
        }
    }
}

.share1 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 226px;
    background: #4C78A6;
    border-radius: 5px;
    height: 51px;
    border: none;
    outline: none;
    box-shadow: none;
    @media (max-width: 768px) {
        min-height: 51px;
        max-width: 226px;
        margin: 0 auto;
    }
    span {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 17px;
    }
    .icon {
        width: 40px;
        height: 21px;
    }
}

.share-vk {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 226px;
    background: #4C78A6;
    border-radius: 5px;
    height: 51px;
    @media (max-width: 768px) {
        min-height: 51px;
        max-width: 226px;
        margin: 0 auto;
    }
    span {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-left: 17px;
    }
    .icon {
        width: 40px;
        height: 21px;
    }
}

.cropper-bg {
    background-image: none;
}

.cropper-modal {
    background-color: transparent;
    opacity: 1;
}

.cropper-canvas {
    height: 380px;
    width: 380px;
}

// .preview {
//     overflow: hidden;
//     width: 400px !important;
//     height: 400px !important;
// }
// .tabcontent {
//     display: none;
// }
// .tabcontent.active {
//     display: flex;
// }
.c-avatar__edit-slider {
    opacity: 1;
    height: auto;
    visibility: visible;
}

.profile-img-div {
    border: none;
}

.c-avatar__edit-actions {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.c-avatar__edit-slider-nav {
    margin-top: 60px;
}

.c-avatar__edit-actions {
    display: flex;
}

.cropper-canvas {
    width: 100%;
    height: 100%;
}

.profile-img-input {
    display: block !important;
}

.canvas-ava {
    border-radius: 20px;
    overflow: hidden;
}

.c-avatar__modal-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.preview {
    border-radius: 20px;
    overflow: hidden;
    height: 400px !important;
    width: 400px !important;
}

.c-avatar__edit-tab-wrapper .tab-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
}

.c-avatar__edit-tab-wrapper .tab-content.current {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.c-avatar__edit-tab-wrapper .slick-arrow {
    font-size: 0 !important;
}

.c-avatar__modal.active .c-avatar__edit-actions {
    display: flex;
}

.tabs_item.tab-content.result.current .profile-photo-div {
    margin-top: 10px;
}