.c-promo-car {
    background: linear-gradient(180deg, #FFA4F0 0%, #BDEFFF 61.98%, #00F8E9 100%);
    padding-top: 85px;
    position: relative;
    padding-bottom: 25px;
    @media (max-width: 1280px) {
        padding-top: 40px;
    }
    @media (max-width: 768px) {
        padding-top: 27px;
        padding-bottom: 20px;
    }
    &__graphics {
        picture {
            position: absolute;
        }
        .snake {
            top: 0;
            left: 0;
            @media (max-width: 1280px) {
                top: 300px;
            }
        }
        .wave {
            top: 8px;
            right: 0;
            @media (max-width: 1280px) {
                top: 169px;
            }
        }
        .dots {
            top: 68px;
            right: 360px;
            @media (max-width: 1280px) {
                left: 0;
                top: 900px;
            }
        }
    }
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__car {
        position: absolute;
        right: 0;
        top: 243px;
        @media (max-width: 1500px) {
            right: -250px;
        }
        @media (max-width: 1280px) {
            position: relative;
            top: 120px;
            right: -15px;
        }
        @media (max-width: 768px) {
            top: 40px;
            right: -15px;
        }
    }
    &__title {
        position: relative;
        z-index: 50;
        h3 {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__count {
        z-index: 50;
        height: 376px;
        width: 358px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 79px;
        @media (max-width: 768px) {
            margin-top: 0;
            height: 250px;
            width: 250px;
        }
        &-body {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        &-title {
            max-width: 221px;
            text-align: center;
            z-index: 50;
            position: relative;
            margin-top: 32px;
            @media (max-width: 768px) {
                margin-top: 37px;
                white-space: pre-wrap;
                max-width: 150px;
            }
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 35px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                letter-spacing: normal;
                @media (max-width: 768px) {
                    font-size: 14px;
                    line-height: 15px;
                }
            }
        }
        &-subtitle {
            z-index: 50;
            position: relative;
            span {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 30px;
                line-height: 35px;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
        }
        &-digitals {
            position: relative;
            z-index: 50;
            margin-top: 11px;
            margin-bottom: 28px;
            @media (max-width: 768px) {
                margin-top: 0;
            }
        }
    }
    .odometer {
        font-size: 72px;
        display: flex;
        align-items: center;
        width: 257px;
        height: 102px;
        overflow: hidden;
        font-family: ProximaNova;
        @media (max-width: 768px) {
            font-size: 42.7px;
            width: 152px;
            height: 60px;
            margin-top: 10px;
            margin-bottom: 12px;
        }
    }
    .odometer.odometer-theme-car {
        background: linear-gradient(180deg, #261056 0%, #8C1EBB 49.55%, #261056 100%);
        border-radius: 10px;
        padding: 0 !important;
        .odometer-digit {
            background-image: none !important;
            box-shadow: none !important;
            background-color: transparent !important;
            color: #FFFFFF;
            padding: 0 7.7px !important;
            @media (max-width: 768px) {
                padding: 0 3.7px !important;
            }
        }
        .odometer-digit:last-child {
            color: #fff !important;
        }
        .odometer-inside {
            display: flex;
            align-items: center;
            height: 100%;
        }
        .odometer-digit {
            border-left: 2px solid black;
            border-right: 2px solid black;
            border-radius: 0 !important;
            height: 100%;
            &:first-child {
                border-left: 4px solid black;
            }
            &:last-child {
                border-right: 4px solid black;
            }
        }
        .odometer-ribbon {
            height: 100%;
            @media (max-width: 768px) {
                height: auto;
            }
        }
        .odometer-value {
            height: 100%;
            line-height: 102px;
            @media (max-width: 768px) {
                line-height: 60px;
            }
        }
    }
    .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
    .odometer.odometer-theme-car .odometer-digit .odometer-digit-inner {
        left: 8px;
        @media (max-width: 768px) {
            left: 3px;
        }
    }
    .odometer .odometer-inside .odometer-digit:nth-child(1),
    .odometer .odometer-inside .odometer-formatting-mark:nth-child(2),
    .odometer .odometer-inside .odometer-digit:last-child {
        display: none
    }
    &__btn {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 127px;
        position: relative;
        z-index: 50;
        @media (max-width: 1280px) {
            margin-top: 165px;
        }
        @media (max-width: 768px) {
            margin-top: 46px;
        }
        button {
            border-radius: 5px;
            display: flex;
            justify-content: center;
            background: #833ACE;
            border-radius: 5px;
            min-width: 278px;
            padding: 14px;
            transition: all 0.3s ease;
            position: relative;
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                z-index: 50;
                position: relative;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .c-copyright {
        margin-top: auto;
        padding-top: 66px;
    }
}