extends _includes/_extends/main

include _includes/components/c-inputs/c-inputs
include _includes/components/c-global-board/c-global-board
include _includes/components/c-percent-board/c-percent-board


block head
	+head({'title':'12%'})

block header
	+header({
		login: true
	})

block content
	+c-percent-board({
		percent12: true,
	})