extends _includes/_extends/main

include _includes/components/c-all-percents/c-all-percents


block head
	+head({'title':'Все проценты'})


block header
	+header({
		login: true
	})

block content
	+c-all-percents()