extends _includes/_extends/main

include _includes/components/c-avatar/c-avatar


block head
	+head({'title':'Создай аватарку'})


block header
	+header({
		login: true
	})

block content
	+c-avatar()