extends _includes/_extends/main

include _includes/components/c-certificate/c-certificate
include _includes/components/c-all-percents/c-all-percents


block head
	+head({'title':'Сертификат'})

block header
	+header({
		login: true
	})

block content
	+c-certificate()