extends _includes/_extends/main

include _includes/components/c-forms/c-forms
include _includes/components/c-inputs/c-inputs


block head
	+head({'title':'Главная'})

block content
	.black-wrapper
		+c-inputs()