extends _includes/_extends/main

include _includes/components/c-inputs/c-inputs
include _includes/components/c-global-board/c-global-board


block head
	+head({'title':'Общая доска'})


block header
	+header({
		login: true
	})

block content
	+c-global-board()