extends _includes/_extends/main

include _includes/components/c-interactive/c-interactive


block head
	+head({'title':'Интерактив'})


block header
	+header({
		login: true
	})

block content
	+c-interactive()