extends _includes/_extends/main

include _includes/components/c-promo-hero/c-promo-hero
include _includes/components/c-promo-congratulations/c-promo-congratulations
include _includes/components/c-promo-car/c-promo-car
include _includes/components/c-interactive/c-interactive
include _includes/components/c-promo-interactive/c-promo-interactive


block head
	+head({'title':'Главная'})

block header
	+header({
		login: true
	})

block content
	+c-promo-hero({
		unlogin: true
	})
	+c-promo-congratulations({start_business: true})
	+c-promo-interactive({interactive__text: true, items_regular: false, items_blured: true})
	+c-promo-car()