extends _includes/_extends/main

include _includes/components/c-promo-hero/c-promo-hero
include _includes/components/c-promo-congratulations/c-promo-congratulations
include _includes/components/c-promo-car/c-promo-car
include _includes/components/c-interactive/c-interactive
include _includes/components/c-promo-interactive/c-promo-interactive


block head
	+head({'title':'Главная авторизованый'})

block header
	+header({
		exit: true,
		soc: true
	})

block content
	+c-promo-hero({
		login: true
	})
	+c-promo-congratulations({start_business: false})
	//- +c-interactive()
	+c-promo-interactive({interactive__text: false, items_regular: true, items_blured: false})
	+c-promo-car()