extends _includes/_extends/main

include _includes/components/c-modals/c-modals


block head
	+head({'title':'Popups'})


block header
	+header({
		login: true
	})

block content
	a(href="#modal-unregister-interactive", rel="modal:open").open-modal Open unregister-interactive modal
	+modal-unregister-interactive()
	a(href="#modal-error", rel="modal:open").open-modal Open error modal
	+modal-error()
	a(href="#modal-error-img", rel="modal:open").open-modal Open error-img modal
	+modal-error-img()
	a(href="#modal-interactive", rel="modal:open").open-modal Open interactive modal
	+modal-interactive()