extends _includes/_extends/main

include _includes/components/c-stickerpack/c-stickerpack


block head
	+head({'title':'Эксклюзивный стикерпак'})


block header
	+header({
		login: true
	})

block content
	+c-stickerpack()