mixin c-stickerpack(data)
	.c-stickerpack
		.c-stickerpack__wrapper
			.c-stickerpack__graphs
					picture.dots.parallax
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/dots.png')
						img(src='s/images/useful/stickerpack/graphs/dots.png', alt='')
					picture.snake-top.parallax
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/snake-top.png')
						img(src='s/images/useful/stickerpack/graphs/snake-top.png', alt='')
					picture.line-circle.parallax
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/line-circle-md.png')
						img(src='s/images/useful/stickerpack/graphs/line-circle.png', alt='')
					picture.y-ball.parallax
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/y-ball.png')
						img(src='s/images/useful/stickerpack/graphs/y-ball.png', alt='')
					picture.wave
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/wave.png')
						img(src='s/images/useful/stickerpack/graphs/wave.png', alt='')
					picture.snake-bottom
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/snake-bottom.png')
						img(src='s/images/useful/stickerpack/graphs/snake-bottom.png', alt='')
					picture.gradient-ball.parallax
						source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/gradient-ball.png')
						img(src='s/images/useful/stickerpack/graphs/gradient-ball.png', alt='')
			.c-stickerpack__title
				.l-container
					.c-stickerpack__breadcrumbs.breadcrumbs
							ul.h-reset-list
								li
									a(href="#") Главная страица
								li
									a(href="#") Интерактив
								li
									a(href="#") Эксклюзивный стикерпак Amway
					.c-stickerpack__title-name
						picture.telegram
							source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/graphs/tg-xx.png')
							source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/graphs/tg.png')
							img(src='s/images/useful/stickerpack/graphs/tg.png', alt='')
						h2 УНИКАЛЬНЫЙ НАБОР
							br 
							| стикерпак Amway ДЛЯ TELEGRAM
			.c-stickerpack__body
				.l-container
					.c-stickerpack__items
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/1.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/1.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/1.png')
									img(src='s/images/useful/stickerpack/sticker/1.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/2.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/2.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/2.png')
									img(src='s/images/useful/stickerpack/sticker/2.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/3.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/3.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/3.png')
									img(src='s/images/useful/stickerpack/sticker/3.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/4.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/4.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/4.png')
									img(src='s/images/useful/stickerpack/sticker/4.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/5.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/5.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/5.png')
									img(src='s/images/useful/stickerpack/sticker/5.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/6.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/6.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/6.png')
									img(src='s/images/useful/stickerpack/sticker/6.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/7.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/7.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/7.png')
									img(src='s/images/useful/stickerpack/sticker/7.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/8.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/8.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/8.png')
									img(src='s/images/useful/stickerpack/sticker/8.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/9.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/9.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/9.png')
									img(src='s/images/useful/stickerpack/sticker/9.png', alt='')
						.c-stickerpack__item.w20
							a(href="s/images/useful/stickerpack/sticker/10.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/10.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/10.png')
									img(src='s/images/useful/stickerpack/sticker/10.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/11.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/11.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/11.png')
									img(src='s/images/useful/stickerpack/sticker/11.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/12.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/12.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/12.png')
									img(src='s/images/useful/stickerpack/sticker/12.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/13.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/13.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/13.png')
									img(src='s/images/useful/stickerpack/sticker/13.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/14.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/14.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/14.png')
									img(src='s/images/useful/stickerpack/sticker/14.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/15.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/15.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/15.png')
									img(src='s/images/useful/stickerpack/sticker/15.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/16.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/16.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/16.png')
									img(src='s/images/useful/stickerpack/sticker/16.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/17.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/17.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/17.png')
									img(src='s/images/useful/stickerpack/sticker/17.png', alt='')
						.c-stickerpack__item.w25
							a(href="s/images/useful/stickerpack/sticker/18.png" download='download')
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/stickerpack/sticker-xx/18.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/stickerpack/sticker-md/18.png')
									img(src='s/images/useful/stickerpack/sticker/18.png', alt='')
					.c-stickerpack__download
						a(href="#") Скачать на Telegram
					.c-copyright
						a(href="#")
							svg(width='71', height='25', viewBox='0 0 71 25', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M0 24.1993C0 24.1993 40.7243 14.1688 70.9027 21.2331L71 20.9013C71 20.9013 44.6742 13.0955 0.505892 22.5991L0 24.1993Z', fill='black')
								path(d='M19.5156 4.5083V6.16704C19.6713 5.83529 19.8658 5.38645 20.3717 4.95713C20.936 4.48878 21.7337 4.21558 22.5315 4.21558C22.9401 4.21558 23.3487 4.29363 23.7379 4.43024C25.0026 4.89859 25.3528 5.91335 25.5085 6.32315C26.4813 4.48878 28.0379 4.23509 28.8746 4.23509C29.9058 4.23509 30.8009 4.62538 31.3846 5.21082C32.4548 6.26461 32.4937 7.39646 32.4937 10.2456V16.8025H29.3805V10.9871C29.3805 9.01617 29.3416 8.60636 29.0108 8.07947C28.6606 7.51354 28.1741 7.39646 27.7072 7.39646C26.851 7.39646 26.423 8.02092 26.3646 8.11849C26.0338 8.70393 26.0338 9.73821 26.0338 10.7335V16.822H22.9012V10.6164C22.9012 9.28937 22.9012 8.68442 22.5899 8.13801C22.3564 7.7282 21.8894 7.39646 21.3057 7.39646C21.0333 7.39646 20.7609 7.47451 20.4885 7.61112C19.574 8.13801 19.5545 9.03568 19.5545 11.3579V16.8025H16.4219V4.5083H19.5156Z', fill='black')
								path(d='M44.9658 4.5083H48.1568L44.9658 16.822H42.0472L40.1987 8.50879L38.3697 16.822H35.4122L32.2212 4.5083H35.4122L37.0855 12.1971L38.8172 4.5083H41.5997L43.3119 12.1971L44.9658 4.5083Z', fill='black')
								path(d='M54.7524 10.5188C54.7524 11.6311 54.5968 12.7044 53.9352 13.5045C53.3904 14.1485 52.7678 14.1875 52.5732 14.1875C51.9506 14.1875 51.2501 13.8168 50.822 12.7435C50.5691 12.119 50.4718 11.3969 50.4718 10.6359C50.4718 9.67966 50.608 8.70393 51.1334 7.92335C51.5225 7.37694 52.1062 7.02568 52.6899 7.02568C53.1569 7.02568 53.6239 7.25985 53.9547 7.65015C54.3633 8.09898 54.7524 8.91859 54.7524 10.5188ZM54.9081 16.8025H57.9824V4.48878H54.9665V6.08898C54.4217 4.89859 53.4488 4.21558 52.2424 4.21558C50.1605 4.21558 47.417 6.03043 47.417 10.8701C47.417 14.7144 49.3822 17.0952 52.0089 17.0952C53.799 17.0952 54.5189 16.0414 54.9081 15.4755V16.8025Z', fill='black')
								path(d='M65.202 4.5083H68.393L64.8907 16.7244C64.6378 17.5831 64.2291 18.9881 63.6065 19.6711C63.0228 20.2956 62.3418 20.5688 59.8123 20.5688C59.4426 20.5688 59.3064 20.5493 58.9757 20.5298V17.7977H59.8123C60.1042 17.7977 60.8241 17.7977 61.1354 17.4855C61.3884 17.2708 61.6024 16.744 61.6024 16.2561C61.6024 16.0024 61.4662 15.5145 61.3689 15.2023L57.9639 4.5083H61.3689L63.373 12.802L65.202 4.5083Z', fill='black')
								path(d='M9.41735 3.68826L11.0907 10.1671H7.82184L9.41735 3.68826ZM7.43269 0L2.1792 16.8021H6.03176L7.00463 13.2309H11.9468L12.9586 16.8021H16.8501L11.3631 0H7.43269Z', fill='black')
						span 2011-2019 Amway Europe. Все права защищены.
						.c-copyright__link
							a(href="#") http://www.alticor.com
							a(href="#") http://www.amwayglobal.com