.c-stickerpack {
    position: relative;
    &__graphs {
        picture {
            position: absolute;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .dots {
            right: 0;
            top: -65px;
        }
        .snake-top {
            top: -100px;
            left: 100px;
        }
        .y-ball {
            left: 0;
            top: 430px;
        }
        .gradient-ball {
            top: 235px;
            right: 0;
        }
        .line-circle {
            right: 0;
            top: 233px;
            @media (max-width: 1280px) {
                display: block;
                top: 154px;
            }
            @media (max-width: 767px) {
                display: none;
            }
        }
        .wave {
            bottom: 0;
            left: 0;
        }
        .snake-bottom {
            right: 0;
            bottom: 0;
        }
    }
    &__title {
        background: linear-gradient(90deg, #314DB1 0%, #FF9EF4 100%);
        padding-top: 32px;
        padding-bottom: 100px;
        @media (max-width: 1280px) {
            padding-top: 41px;
            padding-bottom: 63px;
        }
        @media (max-width: 767px) {
            padding-top: 47px;
            padding-bottom: 50px;
        }
        &-name {
            padding-top: 52px;
            display: flex;
            justify-content: center;
            z-index: 50;
            position: relative;
            @media (max-width: 1280px) {
                padding-top: 0;
            }
            h2 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 75px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1280px) {
                    font-size: 45px;
                    line-height: 56px;
                }
                @media (max-width: 767px) {
                    font-size: 24px;
                    line-height: 29px;
                }
            }
            .telegram {
                margin-right: 20px;
                flex-shrink: 0;
            }
        }
    }
    &__body {
        background: linear-gradient(245.71deg, rgba(255, 255, 255, 0.15) 41.18%, rgba(255, 255, 255, 0) 96.51%), linear-gradient(180deg, #23D5BB 15.99%, #196CEB 100%);
        padding-bottom: 25px;
        @media (max-width: 1280px) {
            padding-bottom: 25px;
        }
        .l-container {
            @media (max-width: 767px) {
                margin: 0;
                padding: 0;
            }
        }
    }
    &__items {
        padding-top: 85px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        z-index: 50;
        position: relative;
        @media (max-width: 1280px) {
            padding-top: 52px;
        }
    }
    &__item {
        display: flex;
        justify-content: center;
        pointer-events: none;
        &.w20 {
            width: 20%;
            @media (max-width: 767px) {
                width: 33%;
            }
        }
        &.w25 {
            width: 25%;
            @media (max-width: 767px) {
                width: 33%;
            }
        }
        @media (max-width: 767px) {
            width: 33%;
            justify-content: flex-end;
        }
    }
    &__download {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        z-index: 50;
        position: relative;
        a {
            display: flex;
            justify-content: center;
            background: #833ACE;
            border-radius: 5px;
            width: 226px;
            height: 51px;
            position: relative;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            align-items: center;
            color: #FFFFFF;
            position: relative;
            z-index: 50;
            transition: all 0.3s ease;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                z-index: -1;
                transition: all 0.3s ease;
            }
            &:hover {
                background: none;
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}