.c-promo-congratulations {
    background: #8B9DFA;
    clip-path: polygon(0 2.5%, 100% 0, 100% 100%, 0% 100%);
    position: relative;
    padding-bottom: 112px;
    @media (max-width: 1279px) {
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
        padding-bottom: 78px;
    }
    @media (max-width: 767px) {
        clip-path: polygon(0 0.5%, 100% 0, 100% 100%, 0% 100%);
        padding-bottom: 26px;
    }
    &__graphics {
        @media (max-width: 1279px) {
            display: none;
        }
        picture {
            position: absolute;
        }
        .circle-lines {
            top: 55px;
            left: 0;
        }
        .y-ball {
            top: 994px;
        }
        .snake {
            top: 1165px;
        }
        .gran {
            right: 0;
            top: 285px;
        }
        .triangle-line {
            top: 858px;
            right: 17px;
            z-index: 50;
            @media (max-width: 1700px) {
                display: none;
            }
        }
        .blue-shadow {
            right: 0;
            top: 1116px;
        }
    }
    &__title {
        padding-top: 99px;
        padding-left: 2px;
        @media (max-width: 1279px) {
            padding-top: 45px;
        }
        @media (max-width: 767px) {
            padding-top: 28px;
        }
        h2 {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 57px;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 1279px) {
                font-size: 34px;
                line-height: 34px;
            }
            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 30px;
            }
            span {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 22px;
                    line-height: 22px;
                }
                @media (max-width: 767px) {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }
    &__body {
        margin: 0 auto;
        max-width: 1400px;
        width: 100%;
    }
    &__items {
        display: flex;
        flex-direction: column;
        padding-top: 73px;
        margin: 0 15px;
        @media (max-width: 1279px) {
            align-items: center;
            width: 100%;
            margin: 0 auto;
            padding-top: 70px;
        }
        @media (max-width: 767px) {
            padding-top: 77px;
        }
    }
    &__item {
        width: 1400px;
        @media (max-width: 1400px) {
            width: 100% !important;
        }
        @media (max-width: 1279px) {
            display: flex;
            width: 730px !important;
            justify-content: center;
        }
        @media (max-width: 767px) {
            width: 100% !important;
        }
        &-wrapper {
            @media (max-width: 1279px) {
                width: 100%;
            }
        }
        .c-promo-congratulations__item-wrapper-bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            min-height: 377px;
            @media (max-width: 767px) {
                min-height: 264px;
            }
            picture img {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                min-height: 377px;
                z-index: 3;
                height: 100%;
                width: 100%;
                @media (max-width: 767px) {
                    min-height: 264px;
                }
            }
            picture {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                min-height: 377px;
                z-index: 3;
                @media (max-width: 767px) {
                    min-height: 264px;
                }
            }
        }
        &--blue {
            position: relative;
            z-index: 8;
            margin-left: -18px;
            @media (max-width: 1279px) {
                width: 735px !important;
                margin-left: -11px;
            }
            @media (max-width: 767px) {
                width: 100% !important;
                margin-bottom: 50px;
            }
            .c-promo-congratulations__user-desc {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media (max-width: 1279px) {
                    margin-top: 0;
                }
                @media (max-width: 767px) {
                    margin-top: 0;
                    margin-left: 15px;
                }
            }
            .c-promo-congratulations__user {
                width: 38.3%;
                &:not(:last-child) {
                    margin-right: 58px;
                }
                @media (max-width: 1279px) {
                    align-items: unset;
                    &:not(:last-child) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    flex-direction: row;
                    align-items: flex-start
                }
            }
            .c-promo-congratulations__user-info {
                margin-top: 14px;
                margin-left: 21px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @media (max-width: 767px) {
                    margin-left: 0;
                }
            }
            .c-promo-congratulations__user-city {
                margin-top: 0;
                margin-left: 21px;
                @media (max-width: 767px) {
                    margin-top: 5px;
                    margin-left: 0;
                }
            }
            .c-promo-congratulations__item-wrapper-bg-before {
                position: absolute;
                top: -21px;
                left: 47px;
                right: 0;
                height: 230px;
                width: 95%;
                display: flex;
                -webkit-transform: rotate(1deg);
                transform: rotate(0deg);
                position: absolute;
                z-index: -1;
                @media (max-width: 1279px) {
                    left: 30px;
                }
                @media (max-width: 767px) {
                    left: 3px;
                    top: -62px;
                }
                img {
                    width: 100%;
                    z-index: 0;
                }
            }
            .c-promo-congratulations__user-img {
                -ms-flex-negative: 0;
                flex-shrink: 0;
                height: 115px !important;
                width: 115px !important;
                position: relative;
                border-radius: 50%;
                overflow: hidden;
                @media (max-width: 1279px) {
                    height: 100px !important;
                    width: 100px !important;
                }
                @media (max-width: 767px) {
                    height: 80px !important;
                    width: 80px !important;
                }
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 100%;
                }
            }
            .c-promo-congratulations__item-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                min-height: 377px;
                justify-content: space-around;
                @media (max-width: 1279px) {
                    min-height: 386px;
                    justify-content: flex-start;
                }
                @media (max-width: 767px) {
                    min-height: 264px;
                }
            }
            .c-promo-congratulations__user-wrap {
                padding-top: 41px;
                z-index: 5;
                position: relative;
                width: 100%;
                display: flex;
                justify-content: flex-start;
                @media (max-width: 1279px) {
                    justify-content: center;
                    padding-top: 0;
                    align-items: flex-start;
                }
                @media (max-width: 767px) {
                    flex-direction: column;
                    padding-top: 20px;
                    padding-left: 0;
                    align-items: flex-start;
                }
            }
            .c-promo-congratulations__item-img {
                position: relative;
                @media (max-width: 767px) {
                    padding: 0 !important;
                }
            }
            .c-promo-congratulations__user-show-all {
                margin-bottom: 24px;
                margin-top: 20px;
                z-index: 7;
                @media (max-width: 1279px) {
                    margin-bottom: 90px;
                    margin-top: 40px;
                }
                @media (max-width: 767px) {
                    margin-top: 50px;
                    margin-bottom: 40px;
                }
            }
        }
        &--pink {
            position: relative;
            z-index: 7;
            margin-top: 35px;
            display: flex;
            margin-left: -18px;
            @media (max-width: 1279px) {
                margin-top: 3px;
                margin-left: 0;
            }
            @media (max-width: 767px) {
                width: 100% !important;
                margin-top: 50px;
            }
            .c-promo-congratulations__item-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: flex-start;
                min-height: 365px;
                justify-content: inherit;
                width: 100%;
                @media (max-width: 1279px) {
                    min-height: 415px;
                    justify-content: flex-start;
                    align-items: center;
                }
                @media (max-width: 767px) {
                    min-height: 350px;
                }
            }
            .c-promo-congratulations__item-img {
                padding-top: 77px;
                padding-left: 79px;
                padding-right: 23px;
                @media (max-width: 1279px) {
                    padding-top: 20px;
                }
                @media (max-width: 767px) {
                    padding-top: 15px;
                }
            }
            .c-promo-congratulations__item-wrapper-bg-before {
                position: absolute;
                top: -165px;
                left: 0;
                right: 0;
                height: 230px;
                width: 100%;
                display: flex;
                -webkit-transform: rotate(1deg);
                transform: rotate(0deg);
                z-index: -1;
                position: absolute;
                @media (max-width: 1279px) {
                    top: -113px;
                    left: -12px;
                }
                @media (max-width: 767px) {
                    left: 0;
                    top: -66px;
                }
                img {
                    width: 100%;
                    z-index: 0;
                }
            }
            .c-promo-congratulations__user {
                z-index: 7;
                align-items: flex-start;
                width: 31%;
                &:first-child {
                    width: 32.5%;
                    @media (max-width: 1279px) {
                        width: 50%;
                    }
                }
                &:nth-child(2) {
                    width: 27.5%;
                }
                &:not(:last-child) {
                    margin-right: 0;
                }
                @media (max-width: 1279px) {
                    display: flex;
                    align-items: flex-start;
                    width: 50%;
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    align-items: flex-start;
                    display: flex !important;
                    width: 100%;
                    margin-bottom: 22px;
                }
            }
            .c-promo-congratulations__item-img {
                @media (max-width: 1279px) {
                    margin-top: -40px;
                }
                @media (max-width: 767px) {
                    margin-top: -60px;
                    padding: 0 !important;
                }
            }
            .c-promo-congratulations__user-wrap {
                padding-top: 84px;
                margin-left: 30px;
                z-index: 7;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                @media (max-width: 1279px) {
                    padding-left: 0;
                    padding-top: 0;
                    display: flex;
                    justify-content: flex-start;
                    padding: 40px;
                    padding-bottom: 0;
                    padding-top: 0;
                }
                @media (max-width: 767px) {
                    display: flex;
                    flex-direction: column;
                    padding-top: 10px;
                    padding-left: 0;
                    align-items: flex-start;
                    margin-left: 0;
                }
            }
            .c-promo-congratulations__user-img {
                height: 64px !important;
                width: 64px !important;
                position: relative;
                z-index: 7;
                border-radius: 50%;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            .c-promo-congratulations__user-family {
                font-size: 32px;
                line-height: 32px;
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .c-promo-congratulations__user-name {
                font-size: 25px;
                line-height: 25px;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .c-promo-congratulations__user-info {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-left: 20px;
                max-width: 93%;
                flex-direction: column;
                margin-top: 9px;
                @media (max-width: 1279px) {
                    margin-left: 18px;
                    max-width: none;
                }
                @media (max-width: 767px) {
                    align-items: center;
                    margin-top: 14px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                }
            }
            .c-promo-congratulations__user-city {
                margin-left: 20px;
                margin-top: 0;
                span {
                    font-size: 16px;
                }
            }
            .c-promo-congratulations__user-show-all {
                margin: 0 auto;
                z-index: 7;
                margin-bottom: 42px;
                @media (max-width: 1279px) {
                    margin-bottom: 30px;
                    margin-top: 50px;
                }
                @media (max-width: 767px) {
                    margin-top: 10px;
                    margin-bottom: 50px;
                }
            }
            .c-promo-congratulations__item-wrapper-bg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                min-height: 365px;
                @media (max-width: 1279px) {
                    min-height: 415px;
                }
                @media (max-width: 767px) {
                    min-height: 350px;
                }
                picture img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 365px;
                    z-index: 3;
                    height: 100%;
                    width: 100%;
                    @media (max-width: 1279px) {
                        min-height: 415px;
                    }
                    @media (max-width: 767px) {
                        min-height: 350px;
                    }
                }
                picture {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 365px;
                    z-index: 3;
                    @media (max-width: 1279px) {
                        min-height: 415px;
                    }
                    @media (max-width: 767px) {
                        min-height: 350px;
                    }
                }
            }
        }
        &--green {
            position: relative;
            z-index: 6;
            margin-top: 24px;
            display: flex;
            width: 1390px;
            margin-left: 13px;
            @media (max-width: 1279px) {
                margin-top: 0;
                width: 762px !important;
                margin-left: 0;
            }
            @media (max-width: 767px) {
                width: 100% !important;
                margin-top: 106px;
            }
            .c-promo-congratulations__item-img {
                @media (max-width: 1279px) {
                    margin-top: 30px;
                }
                @media (max-width: 767px) {
                    margin-top: -60px;
                    padding: 0 !important;
                }
            }
            .c-promo-congratulations__item-wrapper-bg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                min-height: 460px;
                @media (max-width: 1279px) {
                    min-height: 562px;
                }
                @media (max-width: 767px) {
                    min-height: 400px;
                }
                picture img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 470px;
                    z-index: 3;
                    height: 100%;
                    width: 100%;
                    @media (max-width: 1279px) {
                        min-height: 562px;
                    }
                    @media (max-width: 767px) {
                        min-height: 400px;
                    }
                }
                picture {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 444px;
                    z-index: 3;
                    @media (max-width: 1279px) {
                        min-height: 562px;
                    }
                    @media (max-width: 767px) {
                        min-height: 400px;
                    }
                }
            }
            .c-promo-congratulations__item-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                min-height: 460px;
                justify-content: flex-start;
                width: 100%;
                @media (max-width: 1279px) {
                    min-height: 562px;
                }
                @media (max-width: 767px) {
                    min-height: auto;
                }
            }
            .c-promo-congratulations__item-wrapper-bg-before {
                position: absolute;
                top: -140px;
                left: 0;
                right: 0;
                height: 230px;
                width: 99.3%;
                display: flex;
                -webkit-transform: rotate(1deg);
                transform: rotate(0deg);
                z-index: 0;
                position: absolute;
                z-index: 0;
                @media (max-width: 1279px) {
                    top: -120px;
                    left: 10px;
                }
                @media (max-width: 767px) {
                    left: 0;
                    top: -67px;
                }
                img {
                    width: 100%;
                    z-index: 0;
                }
            }
            .c-promo-congratulations__user {
                z-index: 7;
                margin-bottom: 39px;
                width: 27.9%;
                align-items: flex-start;
                &:not(:last-child) {
                    margin-right: 20px;
                }
                @media (max-width: 1279px) {
                    display: flex;
                    align-items: flex-start;
                    width: 45%;
                    margin-bottom: 35px;
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    margin-bottom: 23px;
                    &:nth-child(n+3) {
                        display: none;
                    }
                }
            }
            .c-promo-congratulations__user-wrap {
                padding-top: 58px;
                margin-left: 20px;
                z-index: 7;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                @media (max-width: 1279px) {
                    padding: 40px;
                    padding-bottom: 0;
                    padding-top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                @media (max-width: 767px) {
                    padding-top: 30px;
                    padding-left: 0;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                }
            }
            .c-promo-congratulations__user-img {
                height: 50px;
                width: 50px;
                position: relative;
                z-index: 7;
                border-radius: 50%;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            .c-promo-congratulations__user-family {
                font-size: 25px;
                line-height: 25px;
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .c-promo-congratulations__user-name {
                font-size: 19px;
                line-height: 19px;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .c-promo-congratulations__user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;
                margin-top: 7px;
                @media (max-width: 767px) {
                    margin-left: 27px;
                }
            }
            .c-promo-congratulations__user-city {
                margin-left: 20px;
                @media (max-width: 767px) {
                    margin-left: 27px;
                }
                span {
                    font-size: 16px;
                    font-weight: 300;
                }
            }
            .c-promo-congratulations__user-show-all {
                margin: 0 auto;
                z-index: 7;
                margin-bottom: 39px;
                margin-top: -7px;
                @media (max-width: 1279px) {
                    margin-bottom: 100px;
                }
                @media (max-width: 767px) {
                    margin-top: 40px;
                    margin-bottom: 50px;
                }
                button {
                    margin-left: -55px;
                    @media (max-width: 1279px) {
                        margin-left: 0;
                    }
                }
            }
            .c-promo-congratulations__item-img {
                padding-top: 57px;
                padding-left: 53px;
                @media (max-width: 1279px) {
                    left: 17px !important;
                    top: 48px !important;
                }
                @media (max-width: 767px) {
                    left: 22px !important;
                    top: -61px !important;
                }
            }
        }
        &--orange {
            position: relative;
            z-index: 5;
            margin-top: 30px;
            display: flex;
            margin-left: -3px;
            @media (max-width: 1279px) {
                margin-top: -25px;
                width: 745px !important;
                margin-left: 0;
            }
            @media (max-width: 767px) {
                width: 100% !important;
                margin-top: 92px;
            }
            .c-promo-congratulations__item-img {
                padding-left: 77px;
                padding-right: 31px;
                @media (max-width: 767px) {
                    padding: 0;
                }
            }
            .c-promo-congratulations__item-wrapper-bg {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                min-height: 397px;
                @media (max-width: 1279px) {
                    min-height: 550px;
                }
                @media (max-width: 767px) {
                    min-height: 417px;
                }
                picture img {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 397px;
                    z-index: 3;
                    height: 100%;
                    width: 100%;
                    @media (max-width: 1279px) {
                        min-height: 550px;
                    }
                    @media (max-width: 767px) {
                        min-height: 417px;
                    }
                }
                picture {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    min-height: 397px;
                    z-index: 3;
                    @media (max-width: 1279px) {
                        min-height: 550px;
                    }
                    @media (max-width: 767px) {
                        min-height: 417px;
                    }
                }
            }
            .c-promo-congratulations__item-wrapper {
                display: flex;
                flex-direction: column;
                position: relative;
                align-items: center;
                min-height: 380px;
                justify-content: flex-start;
                width: 100%;
                @media (max-width: 1279px) {
                    min-height: 550px;
                }
                @media (max-width: 767px) {
                    min-height: auto;
                }
            }
            .c-promo-congratulations__item-wrapper-bg-before {
                position: absolute;
                top: -160px;
                left: 20px;
                right: 0;
                height: 230px;
                width: 100%;
                display: flex;
                -webkit-transform: rotate(1deg);
                transform: rotate(0deg);
                z-index: 0;
                position: absolute;
                z-index: 0;
                @media (max-width: 1279px) {
                    left: 0;
                    top: -166px;
                }
                @media (max-width: 767px) {
                    left: 0;
                    top: -57px;
                }
                img {
                    width: 100%;
                    z-index: 0;
                }
            }
            .c-promo-congratulations__user {
                z-index: 7;
                align-items: flex-start;
                margin-bottom: 30px;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                @media (max-width: 1279px) {
                    display: flex;
                    align-items: flex-start;
                    width: 45%;
                    margin-bottom: 25px;
                    &:nth-child(n+5) {
                        display: none;
                    }
                }
                @media (max-width: 767px) {
                    width: 40%;
                    margin-bottom: 17px;
                    &:nth-child(n+3) {
                        display: none !important;
                    }
                }
            }
            .c-promo-congratulations__user-wrap {
                padding-top: 40px;
                margin-left: 20px;
                z-index: 7;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;
                @media (max-width: 1279px) {
                    padding: 40px;
                    padding-top: 0;
                    padding-bottom: 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                }
                @media (max-width: 767px) {
                    padding-top: 20px;
                    padding-left: 0;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                }
            }
            .c-promo-congratulations__user-img {
                height: 64px;
                width: 64px;
                position: relative;
                z-index: 7;
                border-radius: 50%;
                overflow: hidden;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            .c-promo-congratulations__user-family {
                font-size: 24px;
                line-height: 24px;
                margin-right: 4px;
                @media (max-width: 767px) {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
            .c-promo-congratulations__user-name {
                font-size: 16px;
                line-height: 20px;
                @media (max-width: 767px) {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
            .c-promo-congratulations__user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 20px;
                flex-wrap: wrap;
                width: 247px;
                margin-top: 8px;
                @media (max-width: 767px) {
                    width: auto;
                    align-items: flex-start;
                }
            }
            .c-promo-congratulations__user-city {
                margin-left: 20px;
                margin-top: 0;
                span {
                    font-size: 16px;
                }
            }
            .c-promo-congratulations__user-show-all {
                margin: 0 auto;
                z-index: 7;
                margin-bottom: 61px;
                margin-top: 25px;
                @media (max-width: 1279px) {
                    margin-bottom: 80px;
                }
                @media (max-width: 767px) {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                button {
                    margin-left: -15px;
                }
            }
        }
        &-img {
            z-index: 7;
            padding-top: 40px;
            padding-left: 59px;
            padding-right: 50px;
            flex-shrink: 0;
            @media (max-width: 1279px) {
                padding: 0;
                padding-bottom: 20px;
                margin-top: -40px;
            }
        }
    }
    &__user {
        display: flex;
        align-items: flex-start;
        &-img {
            flex-shrink: 0;
            height: 50px !important;
            width: 50px !important;
            position: relative;
            border-radius: 50%;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
        &-info {
            margin-left: 20px;
            @media (max-width: 767px) {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        &-wrap {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
        &-family {
            font-size: 40px;
            text-transform: uppercase;
            font-weight: bold;
            color: #FFFFFF;
            line-height: 47px;
            margin-right: 4px;
            @media (max-width: 1279px) {
                line-height: 43px;
            }
            @media (max-width: 767px) {
                font-size: 20px;
                line-height: 20px;
            }
        }
        &-name {
            font-size: 30px;
            text-transform: uppercase;
            font-weight: regular;
            color: #FFFFFF;
            line-height: 25px;
            letter-spacing: -1.25px;
            @media (max-width: 1279px) {
                font-size: 28px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
                line-height: 16px;
            }
        }
        &-city {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 0;
            display: flex;
            margin-left: 20px;
        }
        &-show-all {
            button {
                display: flex;
                background: #833ACE;
                border-radius: 5px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                border-radius: 5px;
                min-width: 226px;
                text-align: center;
                justify-content: center;
                padding: 14px 0;
            }
        }
    }
    &__start-business {
        padding-top: 143px;
        @media (max-width: 1279px) {
            padding-top: 65px;
        }
        @media (max-width: 767px) {
            padding-top: 58px;
        }
        &-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
        }
        &-img {
            position: absolute;
            left: -159px;
            top: -120px;
            @media (max-width: 1279px) {
                display: none;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 40px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 767px) {
                    font-size: 24px;
                    line-height: 24px;
                }
            }
            h2 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 70px;
                line-height: 70px;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 767px) {
                    font-size: 34px;
                    line-height: 34px;
                }
            }
        }
        &-btn {
            padding-top: 53px;
            @media (max-width: 1279px) {
                padding-top: 34px;
            }
            @media (max-width: 767px) {
                padding-top: 30px;
            }
            button {
                display: flex;
                background: #833ACE;
                border-radius: 5px;
                min-width: 262px;
                justify-content: center;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                padding: 14px;
            }
        }
    }
    &__line {
        display: flex;
        width: 100%;
        @media (max-width: 1279px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width: 767px) {
            align-items: flex-start;
            padding-left: 30px;
        }
    }
    &__item-wrapper {
        justify-content: space-around !important;
    }
}

.c-promo-congratulations__start-business-btn,
.c-promo-congratulations__user-show-all {
    button {
        padding: 14px;
        transition: all 0.3s ease;
        position: relative;
        span {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
            z-index: 50;
            position: relative;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            transition: all 0.5s ease;
        }
        &:hover {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}