mixin c-promo-congratulations(data)
	.c-promo-congratulations
		.c-promo-congratulations__wrapper
			.c-promo-congratulations__graphics
				picture.animate.circle-lines.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/circle-lines.png', alt='')
				picture.animate.y-ball.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/y-ball.png', alt='')
				picture.animate.snake.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/snake.png', alt='')
				picture.animate.gran.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/gran.png', alt='')
				picture.animate.triangle-line.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/triangle-line.png', alt='')
				picture.animate.blue-shadow.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-congratulations/blue-shadow.svg', alt='')
			.container
				.c-promo-congratulations__inner
					.c-promo-congratulations__title
						h2 поздравляем
							br 
							span с достижением нового уровня!
			.c-promo-congratulations__body
				.c-promo-congratulations__items
					.c-promo-congratulations__item.c-promo-congratulations__item--blue
						.c-promo-congratulations__item-wrapper
							.c-promo-congratulations__item-wrapper-bg-before
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/blue-before-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/blue-before-md.png')
									img(src='s/images/useful/promo/promo-congratulations/blue-before.png', alt='')
							.c-promo-congratulations__item-wrapper-bg
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/18-bg-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/18-bg-md.png')
									img(src='s/images/useful/promo/promo-congratulations/18-bg.png', alt='')
							.c-promo-congratulations__line
								.c-promo-congratulations__item-img
									picture
										source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/18-xx.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/18-md.png')
										img(src='s/images/useful/promo/promo-congratulations/18.png', alt='')
								.c-promo-congratulations__user-wrap
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Санкт-Петербург
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  КОРОЛЕВ
												span.c-promo-congratulations__user-name  ВИТАЛИЙ
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Булганчимэг
												span.c-promo-congratulations__user-name  Гойдодноров
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Санкт-Петербург
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Климкин
												span.c-promo-congratulations__user-name  Павел
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Степанова
												span.c-promo-congratulations__user-name  Мария
							.c-promo-congratulations__user-show-all
								button(type="button") 
									span Все партнеры 18%
					.c-promo-congratulations__item.c-promo-congratulations__item--pink
						.c-promo-congratulations__item-wrapper
							.c-promo-congratulations__item-wrapper-bg-before
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/pink-before-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/pink-before-md.png')
									img(src='s/images/useful/promo/promo-congratulations/pink-before.png', alt='')
							.c-promo-congratulations__item-wrapper-bg
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/15-bg-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/15-bg-md.png')
									img(src='s/images/useful/promo/promo-congratulations/15-bg.png', alt='')
							.c-promo-congratulations__line
								.c-promo-congratulations__item-img
									picture
										source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/15-xx.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/15-md.png')
										img(src='s/images/useful/promo/promo-congratulations/15.png', alt='')
								.c-promo-congratulations__user-wrap
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Улан-Удэ
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Сухановская
												span.c-promo-congratulations__user-name  вера
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Неркарян
												span.c-promo-congratulations__user-name  алик
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family саттарова 
												span.c-promo-congratulations__user-name  юлия
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span астана
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Дунжуусаарай
												span.c-promo-congratulations__user-name  Хишигсурэн
							.c-promo-congratulations__user-show-all
								button(type="button") 
									span Все партнеры 15%
					.c-promo-congratulations__item.c-promo-congratulations__item--green
						.c-promo-congratulations__item-wrapper
							.c-promo-congratulations__item-wrapper-bg-before
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/green-before-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/green-before-md.png')
									img(src='s/images/useful/promo/promo-congratulations/green-before.png', alt='')
							.c-promo-congratulations__item-wrapper-bg
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/12-bg-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/12-bg-md.png')
									img(src='s/images/useful/promo/promo-congratulations/12-bg.png', alt='')
							.c-promo-congratulations__line
								.c-promo-congratulations__item-img
									picture
										source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/12-xx.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/12-md.png')
										img(src='s/images/useful/promo/promo-congratulations/12.png', alt='')
								.c-promo-congratulations__user-wrap
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Василенко 
												span.c-promo-congratulations__user-name  ИГОРь
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Василенко
												span.c-promo-congratulations__user-name  лариса
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Санкт-Петербург
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family Марченко
												span.c-promo-congratulations__user-name  ольга
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family Марченко
												span.c-promo-congratulations__user-name  михаил
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span самара
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  ДевтеревА 
												span.c-promo-congratulations__user-name  светлана
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Девтерев 
												span.c-promo-congratulations__user-name  юрий
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Санкт-Петербург
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   Гилязев
												span.c-promo-congratulations__user-name  алмаз
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  ГилязевА 
												span.c-promo-congratulations__user-name  лия
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Сочи
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   Сырбачев 
												span.c-promo-congratulations__user-name  максим
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span омск
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   Пульбери  
												span.c-promo-congratulations__user-name  мария
							.c-promo-congratulations__user-show-all
								button(type="button") 
									span Все партнеры 12%
					.c-promo-congratulations__item.c-promo-congratulations__item--orange
						.c-promo-congratulations__item-wrapper
							.c-promo-congratulations__item-wrapper-bg-before
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/orange-before-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/orange-before-md.png')
									img(src='s/images/useful/promo/promo-congratulations/orange-before.png', alt='')
							.c-promo-congratulations__item-wrapper-bg
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/9-bg-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/9-bg-md.png')
									img(src='s/images/useful/promo/promo-congratulations/9-bg.png', alt='')
							.c-promo-congratulations__line
								.c-promo-congratulations__item-img
									picture
										source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-congratulations/9-xx.png')
										source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-congratulations/9-md.png')
										img(src='s/images/useful/promo/promo-congratulations/9.png', alt='')
								.c-promo-congratulations__user-wrap
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   ЗагвоздинА
												span.c-promo-congratulations__user-name  анна
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Загвоздин
												span.c-promo-congratulations__user-name  павел
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family ЗагвоздинА   
												span.c-promo-congratulations__user-name  анна
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family Загвоздин
												span.c-promo-congratulations__user-name  павел
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  ЯковлевА   
												span.c-promo-congratulations__user-name  Наташа
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family  Яковлев 
												span.c-promo-congratulations__user-name  Денис
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span челябинск 
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   Афонасенко 
												span.c-promo-congratulations__user-name  Виталий
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span Москва
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   попов  
												span.c-promo-congratulations__user-name  павел
									.c-promo-congratulations__user.c-user--modal-promo
										.c-promo-congratulations__user-img
											img(src="s/images/useful/promo/promo-congratulations/user-big.png", alt="")
										.c-promo-congratulations__user-desc
											.c-promo-congratulations__user-city
												span самара
											.c-promo-congratulations__user-info
												b.c-promo-congratulations__user-family   Григовьев
												span.c-promo-congratulations__user-name  ВиКТОР
							.c-promo-congratulations__user-show-all
								button(type="button")
									span Все партнеры 9%
				if data.start_business
					.c-promo-congratulations__start-business
						.l-container
							.c-promo-congratulations__start-business-inner
								.c-promo-congratulations__start-business-img
									img(src="s/images/useful/promo/promo-congratulations/like.png", alt="")
								.c-promo-congratulations__start-business-text
									span НАЧНИ СВОЙ БИЗНЕс
									h2 ВМЕСТЕ С AMWAY!
								.c-promo-congratulations__start-business-btn
									button(type="button") 
										span Начать бизнес