mixin c-all-percents(data)
	.c-all-percents
		.c-all-percents__inner
			.c-percents__item.type1
				img(src="s/images/useful/percents/18/bg-1.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор 
							span Дунжуусарай
							b Булганчимэг 
							span Гойдодноров
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type1
				img(src="s/images/useful/percents/15/bg-1.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type1
				img(src="s/images/useful/percents/12/bg-1.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type1
				img(src="s/images/useful/percents/9/bg-1.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type2
				img(src="s/images/useful/percents/18/bg-2.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор 
							span Дунжуусарай
							b Булганчимэг 
							span Гойдодноров
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type2
				img(src="s/images/useful/percents/15/bg-2.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type2
				img(src="s/images/useful/percents/12/bg-2.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type2
				img(src="s/images/useful/percents/9/bg-2.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Сулейменова 
							span Айдана
					.c-percents__item-new-lvl
						b Поздравляем вас
							br
							| с достижением нового уровня!
			.c-percents__item.type3
				img(src="s/images/useful/percents/18/bg-3.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
							b Булганчимэг   
							span Гойдодноров
					.c-percents__item-new-lvl
						b Поздравляем вас с достижением
							br
							|  нового уровня!
			.c-percents__item.type3
				img(src="s/images/useful/percents/9/bg-3.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас с достижением
							br
							|  нового уровня!
			.c-percents__item.type1
				img(src="s/images/useful/percents/18/bg-1.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас с достижением
							br
							|  нового уровня!
			.c-percents__item.type2
				img(src="s/images/useful/percents/18/bg-2.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас с достижением
							br
							|  нового уровня!
			.c-percents__item.type3
				img(src="s/images/useful/percents/18/bg-3.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-certificate
						span Сертфикат
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас с достижением
							br
							|  нового уровня!
			.c-percents__item.type4
				img(src="s/images/useful/percents/18/bg-4.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							.c-percents__item-certificate
								span Сертфикат
							b Даваадолгор  
							span Дунжуусарай
							b Даваадолгор  
							span Дунжуусарай
							.c-percents__item-new-lvl
								b Поздравляем вас 
									br
									| с достижением нового 
									br
									| уровня!
			.c-percents__item.type4
				img(src="s/images/useful/percents/12/bg-4.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							.c-percents__item-certificate
								span Сертфикат
							b Даваадолгор  
							span Дунжуусарай
							.c-percents__item-new-lvl
								b Поздравляем вас 
									br
									| с достижением нового 
									br
									| уровня!
			.c-percents__item.type5
				img(src="s/images/useful/percents/12/bg-5.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас 
							br
							| с достижением 
							br
							| нового  уровня!
			.c-percents__item.type5
				img(src="s/images/useful/percents/18/bg-5.png", alt="").wallpaper
				.c-percents__item-body
					.c-percents__item-user
						.c-percents__item-user-img
							.c-percents__item-user-img-inner.h-object-fit
								img(src="s/images/useful/users/big.png", alt="")
						.c-percents__item-user-desc
							b Даваадолгор  
							span Дунжуусарай
							b Даваадолгор  
							span Дунжуусарай
					.c-percents__item-new-lvl
						b Поздравляем вас 
							br
							| с достижением 
							br
							| нового  уровня!