.c-all-percents {
    &__inner {
        display: flex;
        flex-wrap: wrap;
    }
}

.c-percents__item {
    display: flex;
    flex-direction: column;
    width: 948px;
    height: 510px;
    position: relative;
    z-index: 5;
    .wallpaper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    &-certificate {
        span {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 7.8px !important;
            }
        }
    }
    &-body {
        z-index: 50;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
        @media (max-width: 768px) {
            padding-bottom: 8px;
            justify-content: space-between;
            height: 100%;
        }
    }
    &-new-lvl {
        text-align: center;
        margin-top: 17px;
        @media (max-width: 768px) {
            margin-top: 0 !important;
        }
        b {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 110%;
            text-align: center;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 9px !important;
            }
        }
    }
    &-user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-user-desc {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        @media (max-width: 768px) {
            margin-top: 2px !important;
        }
        b {
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 7px !important;
            }
        }
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 6px !important;
            }
        }
    }
    @media (max-width: 768px) {
        width: 250px;
        height: 130px;
    }
    &.type1,
    &.type2 {
        align-items: center;
        padding-top: 41px;
        @media (max-width: 768px) {
            padding-top: 10px;
        }
        .c-percents__item-user-img {
            margin-top: 45px;
            @media (max-width: 768px) {
                margin-top: 10px;
            }
        }
        .c-percents__item-user-img-inner {
            height: 120px;
            width: 120px;
            position: relative;
            border-radius: 50%;
            @media (max-width: 768px) {
                height: 31.5px;
                width: 31.5px;
            }
        }
    }
    &.type2 {
        .c-percents__item-new-lvl {
            margin-top: 48px;
            @media (max-width: 768px) {
                margin-top: 17px;
            }
            b {
                font-size: 35px;
            }
        }
    }
    &.type3 {
        .c-percents__item-user-img-inner {
            height: 160px;
            width: 160px;
            @media (max-width: 768px) {
                height: 31.5px;
                width: 31.5px;
            }
        }
        .c-percents__item-user {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-top: 87px;
            padding-right: 50px;
            @media (max-width: 768px) {
                margin-top: 10px;
                padding-right: 10px;
            }
        }
        .c-percents__item-user-desc {
            margin-left: 35px;
            align-items: flex-start;
            @media (max-width: 768px) {
                margin-left: 5px;
            }
            b {
                font-size: 40px;
            }
            span {
                font-size: 35px;
            }
        }
        .c-percents__item-new-lvl {
            margin-top: 86px;
            margin-left: auto;
            margin-right: 60px;
            b {
                font-size: 35px;
            }
        }
        .c-percents__item-certificate {
            margin-top: 28px;
            text-align: center;
            width: 100%;
            @media (max-width: 768px) {
                margin-top: 10px;
            }
        }
    }
    &.type4 {
        .c-percents__item-user-img-inner {
            height: 200px;
            width: 200px;
            margin-top: 170px;
            @media (max-width: 768px) {
                height: 31.5px;
                width: 31.5px;
                margin-top: 20px;
            }
        }
        .c-percents__item-user {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding-left: 120px;
            @media (max-width: 768px) {
                padding-left: 50px;
            }
        }
        .c-percents__item-user-desc {
            margin-left: 35px;
            align-items: flex-start;
            margin-top: 113px;
            justify-content: space-between;
            height: 100%;
            @media (max-width: 768px) {
                margin-top: 20px;
                margin-left: 15px;
            }
            b {
                font-size: 40px;
            }
            span {
                font-size: 35px;
            }
        }
        .c-percents__item-new-lvl {
            text-align-last: left;
            margin-top: 40px;
            @media (max-width: 768px) {
                margin-top: 20px !important;
            }
            b {
                font-size: 30px;
            }
        }
        .c-percents__item-certificate {
            text-align: left;
            width: 100%;
            margin-bottom: 45px;
            @media (max-width: 768px) {
                margin-bottom: 5px;
            }
        }
        .c-percents__item-body {
            align-items: flex-start;
        }
    }
    &.type5 {
        .c-percents__item-body {
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-right: 150px;
            padding-left: 73px;
            @media (max-width: 768px) {
                padding-right: 50px;
                padding-left: 20px;
            }
        }
        .c-percents__item-user-img-inner {
            height: 120px;
            width: 120px;
            margin-top: 79px;
            @media (max-width: 768px) {
                height: 31.5px;
                width: 31.5px;
                margin-top: 20px;
            }
        }
        .c-percents__item-new-lvl {
            padding-top: 176px;
            text-align-last: left;
            @media (max-width: 768px) {
                padding-top: 50px;
            }
        }
        .c-percents__item-user-desc {
            text-align-last: left;
        }
    }
}

.c-percents__item.small {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @media (max-width: 768px) {
        width: 250px;
        height: 130px;
    }
    .c-percents__item-certificate {
        span {
            font-size: 7.8px !important;
        }
    }
    .c-percents__item-body {
        padding-bottom: 8px;
        justify-content: space-between;
        height: 100%;
    }
    .c-percents__item-new-lvl {
        margin-top: 0 !important;
        b {
            font-size: 9px !important;
        }
    }
    .c-percents__item-user-desc {
        margin-top: 2px !important;
        b {
            font-size: 7px !important;
        }
        span {
            font-size: 6px !important;
        }
    }
}

.c-percents__item.type1.small {
    padding-top: 10px;
    .c-percents__item-user-img {
        margin-top: 10px;
    }
    .c-percents__item-user-img-inner {
        height: 31.5px;
        width: 31.5px;
    }
}

.c-percents__item.type2.small {
    padding-top: 10px;
    .c-percents__item-user-img {
        margin-top: 10px;
    }
    .c-percents__item-user-img-inner {
        height: 31.5px;
        width: 31.5px;
    }
    .c-percents__item-new-lvl {
        margin-top: 17px;
    }
}

.c-percents__item.type3.small {
    .c-percents__item-user-img-inner {
        height: 31.5px;
        width: 31.5px;
    }
    .c-percents__item-user {
        margin-top: 10px;
        padding-right: 10px;
    }
    .c-percents__item-user-desc {
        margin-left: 5px;
    }
    .c-percents__item-certificate {
        margin-top: 10px;
    }
    .c-percents__item-new-lvl {
        margin-left: auto;
        margin-right: 30px;
        padding-top: 10px;
    }
    .c-percents__item-body {
        padding-bottom: 0;
    }
}

.c-percents__item.type4.small {
    .c-percents__item-user-img-inner {
        height: 31.5px;
        width: 31.5px;
        margin-top: 20px;
    }
    .c-percents__item-user {
        padding-left: 50px;
        padding-top: 20px;
    }
    .c-percents__item-user-desc {
        margin-top: 20px;
        margin-left: 15px;
    }
    .c-percents__item-new-lvl {
        margin-top: 20px !important;
    }
    .c-percents__item-certificate {
        margin-bottom: 5px;
    }
}

.c-percents__item.type5.small {
    .c-percents__item-user-img-inner {
        height: 31.5px;
        width: 31.5px;
        margin-top: 0;
    }
    .c-percents__item-user {
        padding-left: 50px;
        padding-top: 0;
    }
    .c-percents__item-user-desc {
        margin-top: 0;
        margin-left: 15px;
    }
    .c-percents__item-new-lvl {
        margin-top: 0 !important;
        padding-top: 20px;
    }
    .c-percents__item-certificate {
        margin-bottom: 5px;
    }
    .c-percents__item-body {
        padding: 19px;
    }
}