mixin header(data)
	header.c-header.js-header
		.l-container
			.c-header__inner
				.c-header__mobile-btn
					button(type="button")#toggle-mobile-menu
						span
				.c-header__logo
					a(href="#")
						+svg("icon-logo")
				.c-header__actions
					.c-header__menu
						nav.c-header__menu-nav
							ul.c-header__menu-list.h-reset-list.d-flex
								li.c-header__menu-item.c-header__menu-item--title Доска достижений
								li.c-header__menu-item
									a.c-header__menu-link(href="#")
										img(src="s/images/useful/header/18.png", srcset="s/images/useful/header/18-x.png 2x",  alt="")
								li.c-header__menu-item
									a.c-header__menu-link(href="#")
										img(src="s/images/useful/header/15.png", srcset="s/images/useful/header/15-x.png 2x", alt="")
								li.c-header__menu-item
									a.c-header__menu-link(href="#")
										img(src="s/images/useful/header/12.png", srcset="s/images/useful/header/12-x.png 2x", alt="")
								li.c-header__menu-item
									a.c-header__menu-link(href="#")
										img(src="s/images/useful/header/9.png", srcset="s/images/useful/header/9-x.png 2x", alt="")
					if data.soc
						.c-header__soc
							span Интерактив
							ul.h-reset-list.d-flex.c-header__soc-list
								li.c-header__soc-item.c-header__soc-item--fb
									a(href="#").c-header__soc-link
										+svg('icon-fb-header')
								li.c-header__soc-item.c-header__soc-item--inst
									a(href="#").c-header__soc-link
										+svg('icon-inst-header')
								li.c-header__soc-item.c-header__soc-item--ok
									a(href="#").c-header__soc-link
										+svg('icon-ok-header')
								li.c-header__soc-item.c-header__soc-item--vk
									a(href="#").c-header__soc-link
										+svg('icon-vk-header')
								li.c-header__soc-item.c-header__soc-item--yt
									a(href="#").c-header__soc-link
										+svg('icon-yt-header')
					if data.login
						.c-header__login.c-header__exit
							a(href="#") Войти c Amway ID
					if data.exit
						.c-header__login.c-header__exit
							a(href="#") Выйти