.c-header {
    background-color: #3553DA;
    align-items: center;
    min-height: 75px;
    display: flex;
    z-index: 99;
    position: relative;
    &__actions {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 145px;
        flex-shrink: 0;
        @media (max-width: 1500px) {
            padding-left: 5%;
        }
        @media (max-width: 1279px) {
            display: none;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        padding: 0 83px;
        justify-content: space-between;
        @media (max-width: 1279px) {
            padding-left: 0;
            padding-right: 0;
            justify-content: space-around;
        }
        @media (max-width: 768px) {
            justify-content: center;
            display: flex;
            padding: 0;
        }
    }
    &__logo {
        margin-top: 5px;
        a {
            display: inline-block;
        }
    }
    &__menu {
        &-list {
            display: flex;
            align-items: center;
        }
        &-link {
            padding: 0 17px;
            display: flex;
            &:hover {
                color: white !important;
                text-decoration: underline;
            }
            @media (max-width: 1279px) {
                padding: 0 14px;
                font-size: 16px;
            }
        }
        &-item {
            &--title {
                font-size: 18px;
                line-height: 150.84%;
                color: #FFFFFF;
                font-weight: 600;
                padding-right: 20px;
                letter-spacing: normal;
            }
        }
    }
    &__mobile-btn {
        display: none;
        position: absolute;
        left: 13px;
        @media (max-width: 1279px) {
            display: flex;
        }
        button {
            display: flex;
            height: 19px;
            span {
                position: relative;
                width: 27px;
                height: 3px;
                background-color: #fff;
                display: flex;
                transition: all 0.3s ease;
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    display: inline-block;
                    width: 27px;
                    height: 3px;
                    background-color: #fff;
                    left: 0;
                    right: 0;
                    transition: all 0.3s ease;
                }
                &:after {
                    bottom: -7px;
                }
                &:before {
                    top: -7px;
                }
            }
            &.open-menu {
                span {
                    transform: rotate(-135deg);
                    &:after {
                        display: none;
                    }
                    &:before {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }
    &__soc {
        display: flex;
        align-items: center;
        margin-left: 18px;
        @media (max-width: 1279px) {
            margin-left: 0;
        }
        span {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            margin-right: 35px;
        }
        &-list {
            align-items: center;
        }
        &-item {
            &:not(:last-child) {
                margin-right: 6px;
            }
            &--fb {
                a {
                    &:before {
                        background: #3A579A;
                    }
                    &:hover {
                        border: transparent;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            &--inst {
                a {
                    &:before {
                        background: linear-gradient(252.44deg, #9B00A2 0%, #D91252 32.29%, #F0472E 68.75%, #F9CA54 100%);
                    }
                    &:hover {
                        border: transparent;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            &--ok {
                a {
                    &:before {
                        background: #F7931E;
                    }
                    &:hover {
                        border: transparent;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            &--vk {
                a {
                    &:before {
                        background: #4A74A4;
                    }
                    &:hover {
                        border: transparent;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            &--yt {
                a {
                    &:before {
                        background: #CF322A;
                    }
                    &:hover {
                        border: transparent;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &-link {
            height: 25px;
            width: 25px;
            border: solid 1px white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all 0.3s ease;
            &:before {
                content: '';
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                transition: all 0.3s ease;
                opacity: 0;
                border-radius: 50%;
            }
            .icon {
                font-size: 11px;
                position: relative;
                z-index: 50;
            }
        }
    }
    &.open-mmenu {
        .c-header__actions {
            position: fixed;
            top: 75px;
            bottom: 0;
            left: 0;
            right: 0;
            min-height: calc(100vh -75px);
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            background: #3553DA;
            padding-top: 48px;
            padding-left: 0;
        }
        .c-header__menu {
            margin-left: 0;
        }
        .c-header__menu-list {
            flex-direction: column;
            align-items: center;
        }
        .c-header__menu-link {
            padding-top: 15px;
            padding-bottom: 15px;
        }
        .c-header__soc {
            margin-top: 72px;
            padding-bottom: 50px;
        }
    }
    &__login {
        margin-left: auto;
        @media (max-width: 1279px) {
            margin: 0 auto;
        }
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            text-align: right;
            color: #FFFFFF;
        }
    }
}