mixin c-certificate(data)
	.c-certificate
		.c-certificate__wrapper
			.c-certificate__graphs
					picture.yellow.parallax
						source(media='(max-width: 768px)', srcset='s/images/useful/certificate/yellow-xx.png')
						source(media='(max-width: 1279px)', srcset='s/images/useful/certificate/yellow-md.png')
						img(src='s/images/useful/certificate/yellow.png', alt='')
					picture.lagune.parallax
						source(media='(max-width: 768px)', srcset='s/images/useful/certificate/lagune-xx.png')
						source(media='(max-width: 1279px)', srcset='s/images/useful/certificate/lagune-md.png')
						img(src='s/images/useful/certificate/lagune.png', alt='')
					picture.snake.parallax
						img(src='s/images/useful/certificate/snake.png', alt='')
					picture.gradient.parallax
						img(src='s/images/useful/certificate/gradient.png', alt='')
			.c-certificate__download
				.l-container
					.c-certificate__download-desc
						.c-certificate__download-title
							h2 Скачай диплом
						.c-certificate__download-subtitle
							span Дорогие партнеры! Делитесь своим опытом и достижением, вдохновляйте других! Чтобы общество не топталось на одном месте, а постоянно прогрессировало, необходимо делиться достижениями. 
							span Поделитесь своим достижением в социальных сетяx, расскажите миру о себе!
			.c-certificate__pick
				.l-container
					.c-certificate__pick-title
						h3 Выбери шаблон диплома
					.c-certificate__pick-body
						.c-certificate__pick-tab-wrapper#sertificate-container
							#sertificate-inner.sertificate-inner
								#tab-1.tab-content.current
									.c-percents__item.type1
										img(src="s/images/useful/percents/18/bg-1.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор 
													span Дунжуусарай
													b Булганчимэг 
													span Гойдодноров
											.c-percents__item-new-lvl
												b Поздравляем вас
													br
													| с достижением нового уровня!
								#tab-2.tab-content
									.c-percents__item.type2
										img(src="s/images/useful/percents/18/bg-2.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас с достижением
													br
													|  нового уровня!
								#tab-3.tab-content
									.c-percents__item.type3
										img(src="s/images/useful/percents/18/bg-3.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас с достижением
													br
													|  нового уровня!
								#tab-4.tab-content
									.c-percents__item.type4
										img(src="s/images/useful/percents/18/bg-4.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													.c-percents__item-certificate
														span Сертфикат
													b Даваадолгор  
													span Дунжуусарай
													.c-percents__item-new-lvl
														b Поздравляем вас 
															br
															| с достижением нового 
															br
															| уровня!
								#tab-5.tab-content
									.c-percents__item.type5
										img(src="s/images/useful/percents/18/bg-5.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас 
													br
													| с достижением 
													br
													| нового  уровня!
							.c-certificate__edit-actions.c-certificate__edit-actions--md
								button.download.download-sert#download-prepare.prepare-sert(type="button") 
									span.download-sert-text Подготовить к скачиванию
									span.lds-ring
										span
										span
										span
										span
								a(href="").download.download-sert.ready-sert#download-sert
									span.download-sert-text Скачать
							ul.tabs
								li.tab-link.current(data-tab='tab-1')
									.c-percents__item.type1.small
										img(src="s/images/useful/percents/18/bg-1.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор 
													span Дунжуусарай
													b Булганчимэг 
													span Гойдодноров
											.c-percents__item-new-lvl
												b Поздравляем вас
													br
													| с достижением нового уровня!
								li.tab-link(data-tab='tab-2')
									.c-percents__item.type2.small
										img(src="s/images/useful/percents/18/bg-2.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас с достижением
													br
													|  нового уровня!
								li.tab-link(data-tab='tab-3')
									.c-percents__item.type3.small
										img(src="s/images/useful/percents/18/bg-3.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-certificate
												span Сертфикат
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас с достижением
													br
													|  нового уровня!
								li.tab-link(data-tab='tab-4')
									.c-percents__item.type4.small
										img(src="s/images/useful/percents/18/bg-4.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													.c-percents__item-certificate
														span Сертфикат
													b Даваадолгор
													span Дунжуусарай
													.c-percents__item-new-lvl
														b Поздравляем вас 
															br
															| с достижением нового 
															br
															| уровня!
								li.tab-link(data-tab='tab-5')
									.c-percents__item.type5.small
										img(src="s/images/useful/percents/18/bg-5.png", alt="").wallpaper
										.c-percents__item-body
											.c-percents__item-user
												.c-percents__item-user-img
													.c-percents__item-user-img-inner.h-object-fit
														img(src="s/images/useful/users/big.png", alt="")
												.c-percents__item-user-desc
													b Даваадолгор  
													span Дунжуусарай
													b Даваадолгор  
													span Дунжуусарай
											.c-percents__item-new-lvl
												b Поздравляем вас 
													br
													| с достижением 
													br
													| нового  уровня!
					.c-certificate__edit-actions
						button.download.download-sert#download-prepare.prepare-sert(type="button") 
							span.download-sert-text Подготовить к скачиванию
							span.lds-ring
								span
								span
								span
								span
						a(href="").download.download-sert.ready-sert#download-sert
							span.download-sert-text Скачать
					.c-copyright
						a(href="#")
							svg(width='71', height='25', viewBox='0 0 71 25', fill='none', xmlns='http://www.w3.org/2000/svg')
								path(d='M0 24.1993C0 24.1993 40.7243 14.1688 70.9027 21.2331L71 20.9013C71 20.9013 44.6742 13.0955 0.505892 22.5991L0 24.1993Z', fill='black')
								path(d='M19.5156 4.5083V6.16704C19.6713 5.83529 19.8658 5.38645 20.3717 4.95713C20.936 4.48878 21.7337 4.21558 22.5315 4.21558C22.9401 4.21558 23.3487 4.29363 23.7379 4.43024C25.0026 4.89859 25.3528 5.91335 25.5085 6.32315C26.4813 4.48878 28.0379 4.23509 28.8746 4.23509C29.9058 4.23509 30.8009 4.62538 31.3846 5.21082C32.4548 6.26461 32.4937 7.39646 32.4937 10.2456V16.8025H29.3805V10.9871C29.3805 9.01617 29.3416 8.60636 29.0108 8.07947C28.6606 7.51354 28.1741 7.39646 27.7072 7.39646C26.851 7.39646 26.423 8.02092 26.3646 8.11849C26.0338 8.70393 26.0338 9.73821 26.0338 10.7335V16.822H22.9012V10.6164C22.9012 9.28937 22.9012 8.68442 22.5899 8.13801C22.3564 7.7282 21.8894 7.39646 21.3057 7.39646C21.0333 7.39646 20.7609 7.47451 20.4885 7.61112C19.574 8.13801 19.5545 9.03568 19.5545 11.3579V16.8025H16.4219V4.5083H19.5156Z', fill='black')
								path(d='M44.9658 4.5083H48.1568L44.9658 16.822H42.0472L40.1987 8.50879L38.3697 16.822H35.4122L32.2212 4.5083H35.4122L37.0855 12.1971L38.8172 4.5083H41.5997L43.3119 12.1971L44.9658 4.5083Z', fill='black')
								path(d='M54.7524 10.5188C54.7524 11.6311 54.5968 12.7044 53.9352 13.5045C53.3904 14.1485 52.7678 14.1875 52.5732 14.1875C51.9506 14.1875 51.2501 13.8168 50.822 12.7435C50.5691 12.119 50.4718 11.3969 50.4718 10.6359C50.4718 9.67966 50.608 8.70393 51.1334 7.92335C51.5225 7.37694 52.1062 7.02568 52.6899 7.02568C53.1569 7.02568 53.6239 7.25985 53.9547 7.65015C54.3633 8.09898 54.7524 8.91859 54.7524 10.5188ZM54.9081 16.8025H57.9824V4.48878H54.9665V6.08898C54.4217 4.89859 53.4488 4.21558 52.2424 4.21558C50.1605 4.21558 47.417 6.03043 47.417 10.8701C47.417 14.7144 49.3822 17.0952 52.0089 17.0952C53.799 17.0952 54.5189 16.0414 54.9081 15.4755V16.8025Z', fill='black')
								path(d='M65.202 4.5083H68.393L64.8907 16.7244C64.6378 17.5831 64.2291 18.9881 63.6065 19.6711C63.0228 20.2956 62.3418 20.5688 59.8123 20.5688C59.4426 20.5688 59.3064 20.5493 58.9757 20.5298V17.7977H59.8123C60.1042 17.7977 60.8241 17.7977 61.1354 17.4855C61.3884 17.2708 61.6024 16.744 61.6024 16.2561C61.6024 16.0024 61.4662 15.5145 61.3689 15.2023L57.9639 4.5083H61.3689L63.373 12.802L65.202 4.5083Z', fill='black')
								path(d='M9.41735 3.68826L11.0907 10.1671H7.82184L9.41735 3.68826ZM7.43269 0L2.1792 16.8021H6.03176L7.00463 13.2309H11.9468L12.9586 16.8021H16.8501L11.3631 0H7.43269Z', fill='black')
						span 2011-2019 Amway Europe. Все права защищены.
						.c-copyright__link
							a(href="#") http://www.alticor.com
							a(href="#") http://www.amwayglobal.com
			.c-certificate__modal
				.c-certificate__modal-inner
					.c-certificate__modal-header
						.c-certificate__modal-close
							button(type="button").close-modal
								+svg("icon-close")
					.c-certificate__modal-body
						ul#sertificate-inner-mobile.h-reset-list
					.c-certificate__modal-footer
						.c-certificate__edit-actions
							button.download.download-sert#download-prepare-mobile(type="button") 
								span.download-sert-text Подготовить к скачиванию
								span.lds-ring
									span
									span
									span
									span
							a(href="").download.download-sert#download-sert-mobile
								span.download-sert-text Скачать