.c-certificate {
    position: relative;
    &__graphs {
        picture {
            position: absolute;
        }
        .yellow {
            left: 20%;
            top: -74px;
            @media (max-width: 1279px) {
                left: auto;
                right: 0;
                top: -130px;
            }
        }
        .lagune {
            top: -76px;
            left: 50px;
            @media (max-width: 1279px) {
                left: auto;
                right: 0;
                top: -280px;
            }
        }
        .snake {
            left: 0;
            top: 22px;
            @media (max-width: 1279px) {
                display: none;
            }
        }
        .gradient {
            top: 119px;
            right: 0;
            @media (max-width: 1279px) {
                display: none;
            }
        }
    }
    &__download {
        background: linear-gradient(101.24deg, #40AEF8 3.77%, #32BBD0 94.84%);
        padding-top: 32px;
        padding-bottom: 25px;
        @media (max-width: 1279px) {
            padding-top: 50px;
            padding-bottom: 25px;
        }
        @media (max-width: 767px) {
            padding-top: 30px;
            padding-bottom: 25px;
        }
        &-desc {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            z-index: 50;
            position: relative;
            max-width: 610px;
            margin: 0 auto;
        }
        &-title {
            padding-top: 78px;
            margin: 0 auto;
            text-align: left;
            width: 604px;
            padding-right: 23px;
            @media (max-width: 1279px) {
                padding-top: 0;
            }
            @media (max-width: 767px) {
                width: 100%;
                padding-right: 0;
                text-align: left;
            }
            h2 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 125%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 45px;
                }
                @media (max-width: 768px) {
                    font-size: 24px;
                }
            }
        }
        &-subtitle {
            padding-top: 30px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            width: 607px;
            @media (max-width: 1279px) {
                padding-top: 10px;
            }
            @media (max-width: 767px) {
                width: 100%;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: #FFFFFF;
                display: block;
            }
        }
    }
    &__pick {
        background: linear-gradient(180deg, rgba(0, 175, 214, 0.48) 0%, rgba(255, 255, 255, 0) 100%), #994FE4;
        padding-top: 77px;
        padding-bottom: 25px;
        @media (max-width: 1279px) {
            padding-bottom: 25px;
        }
        @media (max-width: 767px) {
            padding-top: 32px;
            padding-bottom: 25px;
        }
        &-body {
            margin-left: 247px;
            margin-top: 32px;
            z-index: 50;
            position: relative;
            @media (max-width: 1750px) {
                margin-left: 0;
            }
            @media (max-width: 767px) {
                margin-top: 0;
            }
        }
        &-title {
            text-align: center;
            h3 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 125%;
                text-align: center;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 35px;
                }
                @media (max-width: 767px) {
                    font-size: 24px;
                }
            }
        }
        ul.tabs {
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-left: 106px;
            margin-top: 20px;
            @media (max-width: 1350px) {
                margin-left: 0;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                margin-right: 0;
                margin-top: 50px;
            }
            @media (max-width: 767px) {
                display: block;
                width: 250px;
                margin-right: auto;
                margin-left: auto;
                margin-top: 0;
            }
        }
        ul.tabs li {
            background: none;
            color: #222;
            display: inline-block;
            cursor: pointer;
            width: 250px;
            height: 130px;
            margin-bottom: 27px;
            border-radius: 15px;
            overflow: hidden;
            @media (max-width: 1350px) {
                margin-bottom: 23px;
                margin-right: 22px;
                padding: 0;
            }
            @media (max-width: 768px) {
                margin-right: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                .c-percents__item {
                    width: 250px;
                }
            }
        }
        ul.tabs li.current {
            color: #222;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
                border-radius: 15.2px;
                overflow: hidden;
                transition: all 0.3s ease;
                @media (max-width: 767px) {
                    display: none;
                }
            }
            @media (max-width: 767px) {
                display: flex;
            }
            .c-percents__item {
                position: relative;
                z-index: 9;
                .wallpaper {
                    z-index: 10;
                }
            }
        }
        .tab-content {
            display: none;
            @media (max-width: 1350px) {
                .c-percents__item {
                    width: 640px;
                    height: 344.27px;
                    &-new-lvl {
                        font-size: 33px;
                    }
                    &-user-desc {
                        b {
                            font-size: 16px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                    &-user-img-inner {
                        height: 81px;
                        width: 81px;
                    }
                    &.type1 {
                        padding-top: 25px;
                        .c-percents__item-certificate span {
                            font-size: 15px;
                        }
                        .c-percents__item-new-lvl b {
                            font-size: 25px;
                        }
                    }
                    &.type2 {
                        padding-top: 25px;
                        .c-percents__item-certificate span {
                            font-size: 15px;
                        }
                        .c-percents__item-new-lvl b {
                            font-size: 25px;
                        }
                    }
                    &.type3 {
                        padding-top: 25px;
                        .c-percents__item-certificate span {
                            font-size: 15px;
                        }
                        .c-percents__item-new-lvl {
                            margin-top: 15px;
                        }
                        .c-percents__item-new-lvl b {
                            font-size: 25px;
                        }
                    }
                    &.type4 {
                        .c-percents__item-user {
                            flex-direction: row;
                            padding-left: 166px;
                        }
                        .c-percents__item-user-desc {
                            margin-top: 20px;
                        }
                        .c-percents__item-new-lvl {
                            font-size: 33px;
                            line-height: 25px;
                            margin-top: 25px;
                        }
                        .c-percents__item-certificate {
                            margin-bottom: 100px;
                        }
                        .c-percents__item-user-img-inner {
                            margin-top: 113px;
                        }
                    }
                    &.type5 {
                        .c-percents__item-body {
                            padding: 25px;
                        }
                        .c-percents__item-certificate span {
                            font-size: 15px;
                        }
                        .c-percents__item-new-lvl {
                            margin-top: 15px;
                        }
                        .c-percents__item-new-lvl b {
                            font-size: 25px;
                        }
                        .c-percents__item-user {
                            padding-left: 100px;
                            padding-right: 60px;
                            margin-top: -45px;
                        }
                        .c-percents__item-user-desc {
                            margin-top: 20px;
                        }
                        .c-percents__item-new-lvl {
                            font-size: 33px;
                            line-height: 25px;
                            margin-top: 25px;
                        }
                        .c-percents__item-user-img-inner {
                            margin-top: 0;
                        }
                    }
                }
            }
            @media (max-width: 767px) {
                .c-percents__item {
                    width: 250px;
                    height: 130px;
                    .c-percents__item-certificate {
                        span {
                            font-size: 7.8px !important;
                        }
                    }
                    .c-percents__item-body {
                        padding-bottom: 8px;
                        justify-content: space-between;
                        height: 100%;
                    }
                    .c-percents__item-new-lvl {
                        margin-top: 0 !important;
                        font-size: 9px;
                        b {
                            font-size: 9px !important;
                        }
                    }
                    .c-percents__item-user-desc {
                        margin-top: 2px !important;
                        b {
                            font-size: 7px !important;
                        }
                        span {
                            font-size: 6px !important;
                        }
                    }
                }
                .c-percents__item.type1 {
                    padding-top: 10px;
                    .c-percents__item-user-img {
                        margin-top: 10px;
                    }
                    .c-percents__item-user-img-inner {
                        height: 31.5px;
                        width: 31.5px;
                    }
                    .c-percents__item-new-lvl {
                        margin-top: 10px;
                    }
                }
                .c-percents__item.type2 {
                    padding-top: 10px;
                    .c-percents__item-user-img {
                        margin-top: 10px;
                    }
                    .c-percents__item-user-img-inner {
                        height: 31.5px;
                        width: 31.5px;
                    }
                    .c-percents__item-new-lvl {
                        margin-top: 17px;
                    }
                }
                .c-percents__item.type3 {
                    .c-percents__item-user-img-inner {
                        height: 31.5px;
                        width: 31.5px;
                    }
                    .c-percents__item-user {
                        margin-top: 10px;
                        padding-right: 10px;
                    }
                    .c-percents__item-user-desc {
                        margin-left: 5px;
                    }
                    .c-percents__item-certificate {
                        margin-top: 10px;
                    }
                    .c-percents__item-new-lvl {
                        margin-left: auto;
                        margin-right: 30px;
                        padding-top: 10px;
                        font-size: 10px;
                    }
                    .c-percents__item-body {
                        padding-bottom: 0;
                    }
                }
                .c-percents__item.type4 {
                    .c-percents__item-user-img-inner {
                        height: 31.5px;
                        width: 31.5px;
                        margin-top: 20px;
                    }
                    .c-percents__item-user {
                        padding-left: 50px;
                        padding-top: 20px;
                    }
                    .c-percents__item-user-desc {
                        margin-top: 20px;
                        margin-left: 15px;
                    }
                    .c-percents__item-new-lvl {
                        margin-top: 20px !important;
                        font-size: 8px;
                        line-height: 13px;
                    }
                    .c-percents__item-certificate {
                        margin-bottom: 5px;
                    }
                }
                .c-percents__item.type5 {
                    .c-percents__item-user-img-inner {
                        height: 31.5px;
                        width: 31.5px;
                        margin-top: 0;
                    }
                    .c-percents__item-user {
                        padding-left: 0;
                        padding-top: 0;
                        padding-right: 0;
                    }
                    .c-percents__item-user-desc {
                        margin-top: 0;
                        margin-left: 15px;
                    }
                    .c-percents__item-new-lvl {
                        margin-top: 0 !important;
                        padding-top: 20px;
                        font-size: 8px;
                        line-height: 13px;
                    }
                    .c-percents__item-certificate {
                        margin-bottom: 5px;
                    }
                    .c-percents__item-body {
                        padding: 19px;
                    }
                }
            }
        }
        .tab-content.current {
            display: inherit;
            position: relative;
            &:after {
                content: '';
                top: 3px;
                bottom: 0;
                position: absolute;
                left: 9px;
                right: -9px;
                height: 100%;
                background-color: #fff;
                border-radius: 20px;
                z-index: 0;
                @media (max-width: 768px) {
                    content: '';
                    top: 7px;
                    bottom: 0;
                    position: absolute;
                    left: 5px;
                    right: -4px;
                    height: 100%;
                    background-color: #fff;
                    border-radius: 7px;
                    z-index: 0;
                }
            }
            @media (max-width: 768px) {
                display: block !important;
                margin-bottom: 50px;
            }
        }
        &-tab-wrapper {
            display: flex;
            align-items: center;
            @media (max-width: 1350px) {
                flex-direction: column;
            }
            @media (max-width: 767px) {
                margin-top: 32px;
            }
            .sertificate-inner {
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
    &__edit-actions {
        display: flex;
        justify-content: center;
        margin-top: 43px;
        @media (max-width: 768px) {
            flex-direction: column;
            display: none;
        }
        .download {
            position: relative;
            border: none;
            box-shadow: none;
            border-radius: 5px;
            display: flex;
            background: #833ACE;
            border-radius: 5px;
            padding: 13px;
            min-width: 226px;
            justify-content: center;
            text-align: center;
            &:before,
            &:after {
                content: '';
                display: block;
            }
            &:before {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .6);
                opacity: 0;
                transition: opacity .3s ease;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 60;
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &.loading {
                &:before {
                    opacity: 1;
                }
                .download-sert-text {
                    filter: blur(1px);
                }
                .lds-ring {
                    opacity: 1;
                }
            }
            &-sert-text {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                color: #FFFFFF;
                z-index: 50;
                position: relative;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            @media (max-width: 768px) {
                min-height: 51px;
                margin: 0 auto;
                margin-bottom: 13px;
                max-width: 226px;
            }
        }
        #download-sert {
            display: none;
        }
    }
    &__modal {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 999;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
        transition: opacity .3s ease, visibility .3s ease;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: linear-gradient(180deg, #3553DA 0%, #35DA9F 65.62%);
            mix-blend-mode: multiply;
            opacity: 0.5;
        }
        @media (max-width: 768px) {
            display: flex;
        }
        &.active {
            opacity: 1;
            visibility: visible;
            z-index: 99999999;
            .c-avatar__edit-slider {
                opacity: 1;
                visibility: visible;
            }
            .profile-buttons-div {
                display: none;
            }
            .profile-photo-div {
                @media (max-width: 768px) {
                    margin-top: 21px;
                }
            }
            .c-avatar__edit-actions {
                display: none;
            }
            .c-avatar__edit-slider-nav {
                display: none;
            }
            .c-avatar__edit-upload-photo .profile-img-div {
                border: none;
            }
        }
        &-inner {
            padding: 33px 28px 45px 28px;
            border-radius: 11px;
            position: relative;
            z-index: 1;
            @media (max-width: 768px) {
                width: 285px;
                padding: 13px 0 28px 0;
                display: flex;
                flex-direction: column;
            }
        }
        &-header {
            display: flex;
            justify-content: flex-end;
            @media (max-width: 768px) {
                padding-right: 16px;
            }
            .icon {
                font-size: 32px;
                color: #ffffff;
            }
        }
        &-body {
            width: 100%;
            display: flex;
            justify-content: center;
            height: auto;
        }
        &-footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
            @media (max-width: 768px) {
                margin-top: 30px;
            }
            span {
                font-style: normal;
                font-weight: normal;
                font-size: 21.0068px;
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                @media (max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .c-certificate__edit-actions {
                display: flex;
                margin: 0;
            }
            #download-sert-mobile {
                display: none;
            }
            .download {
                margin: 0;
            }
        }
        &-close {
            position: absolute;
            right: -10px;
            top: -20px;
        }
        &-socials {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            a:first-child {
                margin-right: 13px;
            }
            .icon {
                font-size: 40px;
            }
        }
        @media (max-width: 768px) {
            .c-avatar__edit-slider-main .slider-main-item {
                width: 220px !important;
            }
            .c-avatar__edit-upload-photo .profile-img-div {
                height: 220px !important;
                width: 220px;
            }
            .c-avatar__edit-slider-main {
                height: 220px;
                width: 220px !important;
            }
        }
    }
    &__btn {
        margin-top: 50px;
        button {
            width: 226px;
            height: 51px;
            background: #833ACE;
            border-radius: 5px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            span {
                position: relative;
                z-index: 50;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #FFFFFF;
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: linear-gradient(192.37deg, #833ACE 24.5%, #F72765 174.28%);
                opacity: 0;
                visibility: hidden;
                border-radius: 5px;
                transition: all 0.5s ease;
            }
            &:hover {
                &:after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.lds-ring {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opazity .3s ease;
    z-index: 60;
}

.lds-ring span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring span:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring span:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring span:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-certificate__pick-body .c-certificate__edit-actions--md {
    display: none;
    @media (max-width: 1350px) {
        display: flex !important;
    }
    @media (max-width: 768px) {
        display: none !important;
    }
}

.c-certificate__pick .c-certificate__edit-actions {
    @media (max-width: 1350px) {
        display: none;
    }
}