mixin modal-unregister-interactive(data)
	.modal.modal-unregister-interactive#modal-unregister-interactive
		.modal-inner
			.modal-graphs
				picture.ball
					img(src='s/images/useful/popup/lg/b-ball.png', alt='')
				picture.like
					img(src='s/images/useful/popup/lg/like.png', alt='')
				picture.snake
					img(src='s/images/useful/popup/lg/snake.png', alt='')
			.modal-body
				.modal-desc
					h2 Раздел интерактив могут посмотреть только участники ALL Stars
				.modal-btn
					a(href="#", rel="modal:close")#close-modal Вернуться на главную
mixin modal-error(data)
	.modal.modal-error#modal-error
		.modal-inner
			.modal-graphs
				picture.ball
					img(src='s/images/useful/popup/lg/b-ball.png', alt='')
				picture.like
					img(src='s/images/useful/popup/lg/like.png', alt='')
				picture.snake
					img(src='s/images/useful/popup/lg/snake.png', alt='')
			.modal-body
				.modal-desc
					h2 неизвестная ошибка
				.modal-btn
					a(href="#", rel="modal:close")#close-modal Вернуться на главную
mixin modal-error-img(data)
	.modal.modal-error-img#modal-error-img
		.modal-inner
			.modal-body
				.modal-desc
					h2 Неверный формат файла, Вы можете загрузить изображение в формате JPG или PNG в размере до 2 МБ.
mixin modal-interactive(data)
	.modal.modal-interactive#modal-interactive
		.modal-inner
			.modal-graphs
				picture.ball
					img(src='s/images/useful/popup/lg/b-ball.png', alt='')
				picture.like
					img(src='s/images/useful/popup/lg/like.png', alt='')
				picture.snake
					img(src='s/images/useful/popup/lg/snake.png', alt='')
			.modal-body
				.modal-desc
					h2 Поздравляем!
						br
						| Теперь вам доступны
					.c-promo-interactive__items
						.c-promo-interactive__item
							.c-promo-interactive__item-img
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/create-avatar-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/create-avatar-md.png')
									img(src='s/images/useful/promo/promo-interactive/create-avatar.png', alt='')
							.c-promo-interactive__item-name
								span  аватарка
						.c-promo-interactive__item
							.c-promo-interactive__item-img
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/download-diplom-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/download-diplom-md.png')
									img(src='s/images/useful/promo/promo-interactive/download-diplom.png', alt='')
							.c-promo-interactive__item-name
								span диплом
						.c-promo-interactive__item
							.c-promo-interactive__item-img
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/stickerpack-xx.png')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/stickerpack-md.png')
									img(src='s/images/useful/promo/promo-interactive/stickerpack.png', alt='')
							.c-promo-interactive__item-name
								span  стикерпак