.c-interactive {
    background: linear-gradient(180deg, #196CEB 15.99%, #23D5BB 100%), linear-gradient(0deg, #C5DDED, #C5DDED);
    padding-top: 32px;
    padding-bottom: 45px;
    position: relative;
    @media (max-width: 1279px) {
        padding-top: 0;
    }
    @media (max-width: 1600px) {
        padding-bottom: 45px;
    }
    @media (max-width: 767px) {
        background: linear-gradient(90deg, #D286E7 0%, #0097FF 100%), linear-gradient(104.05deg, #24CDC0 0%, #0097FF 75.36%);
    }
    &__graphs {
        @media (max-width: 1600px) {
            // display: none;
        }
        picture {
            position: absolute;
        }
        .conus {
            top: 20px;
            left: 50px;
            @media (max-width: 767px) {
                left: 0;
            }
        }
        .r-grad {
            top: 300px;
            right: 0;
        }
        .l-grad {
            top: 400px;
            left: 0;
        }
        .y-ball {
            top: 450px;
            right: 0;
            @media (max-width: 767px) {
                top: 350px;
            }
        }
        .triangle {
            left: 0;
            bottom: 0;
        }
        .wave {
            right: 0;
            bottom: 0;
            @media (max-width: 1800px) {
                right: -200px;
            }
        }
    }
    &__title {
        text-align: center;
        padding-top: 26px;
        @media (max-width: 1000px) {
            padding-top: 10px;
        }
        h2 {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 1279px) {
                font-size: 45px;
            }
            @media (max-width: 767px) {
                font-size: 24px;
            }
        }
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 78px;
        @media (max-width: 1000px) {
            padding-top: 20px;
        }
        @media (max-width: 767px) {
            padding-top: 140px;
        }
    }
    &__item {
        @media (max-width: 1279px) {
            height: 318px;
        }
        @media (max-width: 767px) {
            height: 220px;
        }
        &:not(:last-child) {
            margin-bottom: 50px;
            @media (max-width: 1279px) {
                margin-bottom: 50px;
            }
            @media (max-width: 767px) {
                margin-bottom: 160px;
            }
        }
        @media (max-width: 1000px) {
            &-img {
                position: relative;
                height: 200px;
                width: 200px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        @media (max-width: 700px) {
            &-img {
                position: relative;
                height: 100px;
                width: 100px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
        }
        &--blue {
            width: 1483px;
            position: relative;
            @media (max-width: 1490px) {
                width: 100%;
            }
            .c-interactive__item-wrapper {
                min-height: 500px;
                @media (max-width: 1279px) {
                    min-height: auto;
                }
            }
            .c-interactive__item-bg img {
                height: 100%;
                width: 100%;
            }
        }
        &--orange {
            width: 1540px;
            position: relative;
            .c-interactive__item-bg img {
                height: 100%;
                width: 100%;
            }
            @media (max-width: 1490px) {
                width: 100%;
            }
            .c-interactive__item-wrapper {
                min-height: 575px;
                @media (max-width: 1279px) {
                    min-height: auto;
                }
            }
            .c-interactive__item-body {
                flex-direction: row-reverse;
                align-items: center;
                justify-content: flex-end;
                margin-top: 15px;
            }
            .c-interactive__item-desc {
                margin-left: 0;
                margin-right: 257px;
                margin-top: 100px;
                @media (max-width: 1279px) {
                    margin-top: 0;
                }
                @media (max-width: 1000px) {
                    margin-right: 50px;
                }
                @media (max-width: 767px) {
                    margin: 0;
                }
            }
        }
        &--pink {
            width: 1424px;
            position: relative;
            .c-interactive__item-bg img {
                height: 100%;
                width: 100%;
            }
            @media (max-width: 1490px) {
                width: 100%;
            }
            .c-interactive__item-wrapper {
                min-height: 575px;
                @media (max-width: 1279px) {
                    min-height: auto;
                }
            }
            .c-interactive__item-desc {
                max-width: 415px;
                margin-top: 168px;
                margin-left: 147px;
                @media (max-width: 1279px) {
                    margin-top: 0;
                }
                @media (max-width: 767px) {
                    margin: 0;
                    max-width: 100%;
                }
            }
            .c-interactive__item-body {
                padding: 5px 109px;
                @media (max-width: 1279px) {
                    height: 100%;
                }
            }
        }
        &-wrapper {
            position: relative;
            height: 100%;
        }
        &-before {
            position: absolute;
            top: -31px;
            left: 40px;
            right: 0;
            @media (max-width: 1490px) {
                right: 100px;
            }
            @media (max-width: 1279px) {
                top: -15px;
                img {
                    width: 100%;
                    height: 318px;
                    @media (max-width: 767px) {
                        height: 220px;
                    }
                }
            }
            @media (max-width: 767px) {
                left: 10px;
                right: 0;
                height: 220px;
            }
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            img {
                @media (max-width: 1279px) {
                    height: 318px;
                }
            }
        }
        &-body {
            position: relative;
            z-index: 60;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 58px 230px;
            height: 100%;
            @media (max-width: 1279px) {
                padding: 0;
                justify-content: space-around !important;
            }
            @media (max-width: 700px) {
                padding: 20px;
            }
        }
        &-desc {
            display: flex;
            flex-direction: column;
            margin-left: 182px;
            @media (max-width: 1279px) {
                margin-top: 0;
            }
            @media (max-width: 1000px) {
                margin-left: 50px;
            }
            @media (max-width: 767px) {
                margin: 0;
                max-width: 100%;
                align-items: center;
            }
        }
        &-title {
            h3 {
                font-family: RobotoCondensed;
                font-style: normal;
                font-weight: bold;
                font-size: 40px;
                line-height: 125%;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 35px;
                }
                @media (max-width: 767px) {
                    font-size: 20px;
                }
            }
        }
        &-subtitle {
            max-width: 327px;
            @media (max-width: 767px) {
                max-width: 100%;
            }
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 125%;
                color: #FFFFFF;
                @media (max-width: 1279px) {
                    font-size: 16px;
                }
            }
        }
        &-btn {
            margin-top: 51px;
            @media (max-width: 1279px) {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }
            @media (max-width: 767px) {
                bottom: -15px;
            }
            button {
                width: 226px;
                height: 51px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #833ACE;
                border-radius: 5px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 125%;
                text-align: center;
                color: #FFFFFF;
                border-radius: 5px
            }
        }
        &-img {
            flex-shrink: 0;
            @media (max-width: 1279px) {
                width: 210px;
                height: 210px;
            }
            @media (max-width: 767px) {
                width: 150px;
                height: 150px;
                position: absolute;
                top: -115px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}