.c-promo-hero {
    background: #EDEDED;
    padding-bottom: 26px;
    @media (max-width: 1280px) {
        padding-bottom: 30px;
    }
    @media (max-width: 768px) {
        padding-bottom: 20px;
    }
    &_wrapper {
        position: relative;
    }
    &__title {
        padding-top: 58px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 50;
        @media (max-width: 1280px) {
            padding-top: 41px;
        }
        @media (max-width: 768px) {
            padding-top: 37px;
        }
    }
    &__description {
        .y-ball {
            top: 29px;
            left: 22%;
            z-index: 51;
            position: absolute;
            @media (max-width: 1280px) {
                top: 36px;
                left: 44%;
            }
            @media (max-width: 768px) {
                top: 22px;
                left: 53%;
            }
        }
    }
    &__main {
        display: flex;
        padding-top: 118px;
        position: relative;
        z-index: 50;
        margin-left: -8px;
        margin-right: -8px;
        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: center;
            padding-top: 74px;
            margin-left: -13px;
            margin-right: 0;
        }
        @media (max-width: 768px) {
            padding-top: 36px;
            margin-left: -4px;
            margin-right: -5px;
        }
    }
    &__video {
        position: relative;
        width: 337px;
        height: 276px;
        margin-left: 62px;
        margin-top: 5px;
        z-index: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        @media (max-width: 1279px) {
            margin: 0 auto;
            margin-top: -17px;
            height: 295px;
            width: 360px;
            background-size: contain;
            z-index: 3;
        }
        @media (max-width: 1279px) {
            margin-top: 6px;
            height: 246px;
            width: 273px;
        }
        &-bg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
        }
        .youtube {
            width: 79px;
            height: 47px;
            background: #FF0000;
            opacity: 0.75;
            border-radius: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: all 0.3s ease;
            &:hover {
                opacity: 1;
            }
            img {
                width: 22px;
                height: 21px;
            }
        }
    }
    &__scroll {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 22px;
        @media (max-width: 1280px) {
            margin-top: 53px;
        }
        @media (max-width: 768px) {
            margin-top: 4px;
        }
        &-question {
            span {
                font-weight: bold;
                font-size: 24px;
                color: #8B9DFA;
            }
        }
        &-icon {
            margin-top: 24px;
            cursor: pointer;
            @media (max-width: 1280px) {
                margin-top: 30px;
            }
            @media (max-width: 768px) {
                margin-top: 20px;
            }
        }
        &-icon-lg {
            button {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                .icon {
                    &:first-child {
                        height: 44px;
                        width: 28px;
                    }
                    &:last-child {
                        height: 30px;
                        width: 12px;
                        margin-top: -15px;
                        transition: all 0.3s ease;
                        animation: scroll 1.5s infinite;
                        position: absolute;
                        bottom: -14px;
                    }
                }
            }
            @media (max-width: 1280px) {
                display: none;
            }
        }
        &-icon-md,
        &-icon-xx {
            display: none;
        }
        &-icon-md {
            height: 20px;
            width: 12px;
            position: relative;
            @media (max-width: 1280px) {
                display: flex;
                .icon {
                    height: 20px;
                    width: 12px;
                    animation: scroll 1.5s infinite;
                    position: absolute;
                }
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        &-icon-xx {
            position: relative;
            height: 20px;
            width: 12px;
            @media (max-width: 768px) {
                display: flex;
            }
            .icon {
                height: 20px;
                width: 12px;
                animation: scroll 1.5s infinite;
                position: absolute;
            }
        }
    }
    &__graphics {
        picture {
            position: absolute;
        }
        .snake {
            top: 104px;
            left: 0;
            z-index: 4;
            @media (max-width: 1280px) {
                top: 106px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .green-circle {
            right: 0;
            top: 0;
            z-index: 3;
            @media (max-width: 1280px) {
                right: 0;
                width: 2050.54px;
                height: 634.35px;
                left: -635px;
                top: 0;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            @media (max-width: 768px) {
                left: 0;
                right: 0;
                width: auto;
                height: auto;
            }
        }
        .qube {
            top: 5px;
            right: 0;
            @media (max-width: 1280px) {
                z-index: 2;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .conus {
            top: 208px;
            left: 292px;
            z-index: 3;
            @media (max-width: 1280px) {
                top: 640px;
                left: 86px;
                z-index: 3;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .wave {
            top: 351px;
            left: 0;
            z-index: 2;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .gradient-circle {
            left: 0;
            top: 463px;
            z-index: 1;
            @media (max-width: 1400px) {
                left: -68px;
            }
            @media (max-width: 1280px) {
                bottom: auto;
                top: 710px;
            }
            @media (max-width: 768px) {
                bottom: auto;
                top: 187px;
            }
        }
        .b-ball {
            right: 218px;
            top: 630px;
            z-index: 3;
            @media (max-width: 1280px) {
                right: 86px;
                bottom: auto;
                top: 640px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .snake-r {
            position: absolute;
            top: 405px;
            right: 0;
            @media (max-width: 1280px) {
                bottom: auto;
                top: 745px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .yellow-circle {
            right: 0;
            @media (max-width: 1280px) {
                bottom: auto;
                top: 105px;
            }
            @media (max-width: 768px) {
                bottom: auto;
                top: 187px;
            }
        }
        .half-gradient-circle {
            right: 0;
            top: 420px;
            @media (max-width: 1280px) {
                top: 532px;
            }
            @media (max-width: 768px) {
                display: none;
            }
        }
        .green-shadow {
            top: 240px;
            right: 0;
            z-index: 30;
            @media (max-width: 1280px) {
                display: none;
            }
        }
    }
}

.video {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
    top: 0;
    transform: scale(.5);
    left: 0;
    .video__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .close-btn {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            z-index: 999999;
        }
        video {
            max-width: 50vw;
            max-height: 50vh;
            width: 100%;
            height: auto;
            border: 0;
            object-fit: cover;
            @media (max-width: 127px) {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    &.opened {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        z-index: 9999;
    }
}

@keyframes scroll {
    0% {
        bottom: -14px;
    }
    50% {
        bottom: -9px;
    }
    100% {
        bottom: -14px;
    }
}