mixin c-promo-hero(data)
	.c-promo-hero
		.c-promo-hero__wrapper
			.c-promo-hero__graphics
				picture.animate.snake.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/snake-md.png')
					img(src='s/images/useful/promo/promo-hero/snake.png', alt='')
				picture.animate.green-circle
					source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/green-circle-xx.svg')
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/green-circle-md.svg')
					img(src='s/images/useful/promo/promo-hero/green-circle.svg', alt='')
				picture.animate.qube.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/qube-md.svg')
					img(src='s/images/useful/promo/promo-hero/qube.svg', alt='')
				picture.animate.conus.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/conus-md.png')
					img(src='s/images/useful/promo/promo-hero/conus.png', alt='')
				picture.animate.wave.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-hero/wave.png', alt='')
				picture.animate.gradient-circle
					source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/gradient-circle-xx.png')
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/gradient-circle-md.png')
					img(src='s/images/useful/promo/promo-hero/gradient-circle.png', alt='')
				picture.animate.b-ball.parallax-rotate.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/b-ball-md.svg')
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/b-ball-md.svg')
					img(src='s/images/useful/promo/promo-hero/b-ball.svg', alt='')
				picture.animate.snake-r.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/snake-r-md.png')
					img(src='s/images/useful/promo/promo-hero/snake-r.png', alt='')
				picture.animate.yellow-circle
					source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/yellow-circle-xx.svg')
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/yellow-circle-md.svg')
					img(src='s/images/useful/promo/promo-hero/yellow-circle.svg', alt='')
				picture.animate.half-gradient-circle.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/half-gradient-circle-md.svg')
					img(src='s/images/useful/promo/promo-hero/half-gradient-circle.svg', alt='')
				picture.animate.green-shadow.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
					img(src='s/images/useful/promo/promo-hero/green-shadow.svg', alt='')

			.l-container
				.c-promo-hero__inner
					.c-promo-hero__title
						picture
							source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/logo-xx.svg')
							img(src='s/images/useful/promo/promo-hero/logo.svg', alt='')
					.c-promo-hero__main
						.c-promo-hero__description
							.c-promo-hero__recognition-partners
								picture
									source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/confession-xx.svg')
									source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-hero/confession-md.svg')
									img(src='s/images/useful/promo/promo-hero/confession.svg', alt='')
							picture.animate.y-ball.parallax-rotate.wow.slideInDown(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-hero/y-ball-xx.svg')
								source(media='(max-width: 1280px)', srcset='s/images/useful/promo/promo-hero/y-ball-md.svg')
								img(src='s/images/useful/promo/promo-hero/y-ball.svg', alt='')
						.c-promo-hero__video
							img(src="s/images/useful/video.png", alt="").c-promo-hero__video-bg
							button(type="button").youtube
								img(src="s/images/useful/svg/arrow-youtube.svg", alt="")
						.video
							.video__wrapper
								button.close-btn
									img(src='https://all-stars.amway.dobroagency.ru/images/close.svg')
								video#video(src='http://all-stars.amway.dobroagency.ru/sequence_29_10.mp4', controls='')
					.c-promo-hero__scroll
						if data.login
							.c-promo-hero__scroll-question
								span ТЫ С НАМИ?
						if data.unlogin
							.c-btn-wrap
								button.btn_blue
									span Войти с Amway ID
						.c-promo-hero__scroll-icon#js-scroll
							.c-promo-hero__scroll-icon-lg
								button(type="button")
									+svg("icon-mouse")
									+svg("icon-arrow-down")
							.c-promo-hero__scroll-icon-md
								button(type="button")
									+svg("icon-arrow-down")
							.c-promo-hero__scroll-icon-xx
								button(type="button")
									+svg("icon-arrow-down")