.c-promo-interactive {
    background: linear-gradient(0deg, #C5DDED, #C5DDED);
    padding-top: 87px;
    padding-bottom: 150px;
    position: relative;
    overflow: hidden;
    @media (max-width: 1280px) {
        overflow: visible;
        padding-top: 40px;
        padding-bottom: 90px;
    }
    @media (max-width: 768px) {
        padding-top: 25px;
        padding-bottom: 39px;
    }
    &__graphics {
        @media (max-width: 768px) {
            display: none;
        }
        picture {
            position: absolute;
        }
        .half-circle-l {
            top: -282px;
            @media (max-width: 1280px) {
                top: 28px;
            }
        }
        .triangle {
            top: 220px;
            left: 20px;
            opacity: 0.25;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .half-circle-r {
            right: 0;
            top: 80px;
            @media (max-width: 1280px) {
                top: -80px;
            }
        }
        .ball {
            top: 314px;
            right: 0;
            @media (max-width: 1280px) {
                display: none;
            }
        }
        .shadow,
        .shadow-small,
        .snake {
            display: none;
            @media (max-width: 1280px) {
                display: block;
            }
        }
        .shadow {
            top: 400px;
            right: 0;
        }
        .shadow-small {
            top: -70px;
            left: 50%;
            transform: translateX(-50%);
        }
        .snake {
            right: 0;
            top: 370px;
        }
    }
    &__title {
        position: relative;
        z-index: 50;
        h3 {
            font-family: RobotoCondensed;
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            @media (max-width: 768px) {
                font-size: 24px;
                line-height: 30px;
            }
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 1245px;
        width: 100%;
        margin: 0 auto;
        padding-top: 34px;
        margin-bottom: 69px;
        position: relative;
        z-index: 50;
        @media (max-width: 1280px) {
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            padding-top: 15px;
        }
        @media (max-width: 768px) {
            padding-top: 35px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        height: 362px;
        justify-content: space-between;
        align-items: center;
        position: relative;
        @media (max-width: 768px) {
            height: auto;
        }
        &.item-blured {
            picture {
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    width: 191px;
                    height: 191px;
                    height: 100%;
                    background-image: url('../../s/images/useful/svg/lock-icon.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                @media (max-width: 768px) {
                    &:after {
                        width: 97px;
                        height: 97px;
                    }
                }
            }
        }
        &:first-child {
            margin-left: 42px;
            @media (max-width: 1280px) {
                margin-left: 0;
                margin-bottom: 96px;
            }
            @media (max-width: 768px) {
                margin-bottom: 43px;
            }
        }
        &:nth-child(2) {
            margin-left: 49px;
            @media (max-width: 1280px) {
                margin-left: 0;
                margin-bottom: 96px;
            }
            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }
        &:nth-child(3) {
            margin-left: 5px;
            @media (max-width: 1280px) {
                margin-left: 0;
            }
        }
        &-img {
            display: flex;
            align-items: center;
            height: 100%;
        }
        &-name {
            @media (max-width: 1280px) {
                max-width: 262px;
                text-align: center;
            }
            @media (max-width: 768px) {
                margin-top: 30px;
            }
            span {
                font-style: normal;
                font-weight: bold;
                font-size: 26px;
                line-height: 31px;
                text-align: center;
                text-transform: uppercase;
                color: #162E5E;
                @media (max-width: 768px) {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
        }
    }
    &__text {
        width: 100%;
        max-width: 69rem;
        margin: 0 auto;
        text-align: center;
        p {
            font-size: 24px;
            line-height: 1.25;
            color: #000000;
            margin-bottom: 36px;
            font-family: 'SourceSansPro';
            font-weight: 400;
            @media (max-width: 1280px) {
                font-size: 22px;
            }
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
    }
}