mixin c-promo-interactive(data)
	.c-promo-interactive
		.c-promo-interactive__graphics
			picture.animate.half-circle-l.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
				source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/half-circle-l-md.png')
				img(src='s/images/useful/promo/promo-interactive/half-circle-l.png', alt='')
			picture.animate.triangle.parallax.wow.slideInLeft(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
				img(src='s/images/useful/promo/promo-interactive/triangle.png', alt='')
			picture.animate.half-circle-r.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
				source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/half-circle-r-md.png')
				img(src='s/images/useful/promo/promo-interactive/half-circle-r.png', alt='')
			picture.animate.ball.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
				img(src='s/images/useful/promo/promo-interactive/ball.png', alt='')
			picture.animate.shadow
				img(src='s/images/useful/promo/promo-interactive/shadow.png', alt='')
			picture.animate.shadow-small
				img(src='s/images/useful/promo/promo-interactive/shadow-small.png', alt='')
			picture.animate.snake.parallax.wow.slideInRight(data-wow-duration="2s" data-wow-delay="0.2s" data-rellax-speed="5")
				img(src='s/images/useful/promo/promo-interactive/snake.png', alt='')
		.l-container
			.c-promo-interactive__title
				h3 Интерактив
			.c-promo-interactive__items
				if data.items_regular
					.c-promo-interactive__item
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/create-avatar-xx.png')
								source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/create-avatar-md.png')
								img(src='s/images/useful/promo/promo-interactive/create-avatar.png', alt='')
						.c-promo-interactive__item-name
							span Создай аватарку
					.c-promo-interactive__item
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/download-diplom-xx.png')
								source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/download-diplom-md.png')
								img(src='s/images/useful/promo/promo-interactive/download-diplom.png', alt='')
						.c-promo-interactive__item-name
							span Скачай сертификат
					.c-promo-interactive__item
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/stickerpack-xx.png')
								source(media='(max-width: 1279px)', srcset='s/images/useful/promo/promo-interactive/stickerpack-md.png')
								img(src='s/images/useful/promo/promo-interactive/stickerpack.png', alt='')
						.c-promo-interactive__item-name
							span Эксклюзивный стикерпак
				if data.items_blured
					.c-promo-interactive__item.item-blured
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/create-avatar-blured-xx.png')
								img(src='s/images/useful/promo/promo-interactive/create-avatar-blured.png', alt='')
						.c-promo-interactive__item-name
							span Создай аватарку
					.c-promo-interactive__item.item-blured
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/download-diplom-blured-xx.png')
								img(src='s/images/useful/promo/promo-interactive/download-diplom-blured.png', alt='')
						.c-promo-interactive__item-name
							span Скачай сертификат
					.c-promo-interactive__item.item-blured
						.c-promo-interactive__item-img
							picture
								source(media='(max-width: 767px)', srcset='s/images/useful/promo/promo-interactive/stickerpack-blured-xx.png')
								img(src='s/images/useful/promo/promo-interactive/stickerpack-blured.png', alt='')
						.c-promo-interactive__item-name
							span Эксклюзивный стикерпак
			if data.interactive__text
				.c-promo-interactive__text
					p Интерактивные опции доступны при входе через Amway ID. Зарегистрируйтесь и используйте все возможности ALL STARS.
					.c-btn-wrap
						button.btn_blue
							span Войти с Amway ID
