.c-404 {
    overflow: hidden;
    padding-bottom: 45px;
    &__graphs {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        picture {
            position: absolute;
        }
        .snake {
            top: 0;
            left: 0;
        }
        .conus {
            top: 200px;
            left: 20%;
        }
        .b-ball {
            right: 200px;
            bottom: 170px;
        }
        .cube {
            right: -30px;
            top: -30px;
        }
        .l-circle {
            top: 240px;
            left: 0;
        }
        .r-circle {
            bottom: 0;
            right: 0;
            top: 0;
            img {
                height: 100%;
            }
        }
        .r-snake {
            bottom: 0;
            right: 0;
        }
        .small-c-r-circle {
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        .t-circle {
            top: 0;
            right: 0;
        }
        .wave {
            left: 0;
            bottom: 0;
        }
    }
    &__inner {
        position: relative;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 70px;
    }
    &__top {
        position: relative;
        width: 955px;
        height: 478.19px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        h1 {
            position: relative;
            z-index: 50;
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 418.646px;
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-2.99deg);
            margin: 0;
        }
    }
    &__bottom {
        position: relative;
        width: 770.96px;
        height: 169.76px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
        img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        span {
            position: relative;
            z-index: 50;
            font-family: RobotoCondensed;
            font-style: italic;
            font-weight: bold;
            font-size: 59.5612px;
            line-height: 125%;
            text-align: center;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #FFFFFF;
            transform: rotate(-3.63deg);
        }
    }
}