
mixin head(data)
	- var project_mame = 'Amway'
		unless (data)
			- var data = {}
	head
		// page name
		title=data.title ? project_mame + ' | ' + data.title : ' | New page'
		// Required meta tags
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		// Optional styles
		link(rel="shortcut icon", href="s/images/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic" rel="stylesheet")
		link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
		link(href='s/css/all.css', rel='stylesheet')